/* $Id$ */

body.toolbar {
  padding-top: 30px;
}

body.toolbar-drawer {
  padding-top: 80px;
}

/**
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
div#toolbar,
div#toolbar * {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  line-height: inherit;
  text-align: left;
  list-style: none;
}

/**
 * Base styles.
 */
div#toolbar {
  font: normal 11px/20px "Lucida Grande", Verdana, sans-serif;
  background: #666;
  color: #ccc;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

div#toolbar .collapsed {
  display: none;
  visibility: hidden;
}

div#toolbar div.shadow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  height: 15px;
  background: url(toolbar.png) 0 -45px repeat-x;
}

div#toolbar a {
  text-decoration: none;
  color: #fff;
}

div#toolbar ul li,
div#toolbar ul li a {
  float: left;
}

/**
 * Administration menu.
 */
div#toolbar div.toolbar-menu {
  background: #000;
  height: 25px;
  line-height: 20px;
  padding: 5px 10px 0;
  overflow: hidden;
  position: relative;
}

div#toolbar div.toolbar-menu #toolbar-user {
  position: absolute;
  right: 50px;
}

div#toolbar div.toolbar-menu #toolbar-menu {
  position: absolute;
  left: 10px;
}

div#toolbar div.toolbar-menu a.toggle {
  position: absolute;
  right: 10px;
  cursor: pointer;
  background: url(toolbar.png) 0 -20px no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  width: 25px;
  height: 25px;
}

div#toolbar div.toolbar-menu a.toggle-active {
  background-position:  -25px -20px;
}

div#toolbar div.toolbar-menu ul li a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 0 10px;
}

div#toolbar div.toolbar-menu ul li a:focus,
div#toolbar div.toolbar-menu ul li a:hover,
div#toolbar div.toolbar-menu ul li a.active:focus {
  background: #444;
}

div#toolbar div.toolbar-menu ul li a.active:hover,
div#toolbar div.toolbar-menu ul li a.active {
  text-shadow: #333 0 1px 0;
  background: url(toolbar.png) 0 0 repeat-x;
}

/**
 * Collapsed drawer of additional toolbar content.
 */
div#toolbar div.toolbar-drawer {
  position: relative;
  padding: 0 10px;
}

/**
 * IE 6 Fixes.
 *
 * Since IE 6 has severe problems interpreting fixed positioning, we downgrade
 * the behavior of the admin toolbar entirely to static positioning.
 */
* html body.toolbar,
* html body.toolbar-drawer {
  padding-top: 0;
}

* html div#toolbar {
  position: static;
}

* html div#toolbar div.shadow {
  display: none;
}
