/**
 * @file
 * This file is used to style form buttons generically, with overrides per form
 */

.form-actions {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  padding: 0.75rem 0;
}

@media screen and (min-width: 77em) {
  .form-actions {
    margin: 1rem -0.5rem;
    padding: 0;
  }
}

.form-actions > .button,
.form-actions > .form-wrapper {
  margin: 0.5rem;
  line-height: normal;
}
