/* $Id$ */

/**
 * Contextual links regions.
 */
.contextual-links-region {
  outline: none;
  position: relative;
}
.contextual-links-region-active {
  outline: #000 dashed 1px;
}

/**
 * Contextual links.
 */
ul.contextual-links {
  float: right;
  font-size: 90%;
  margin: 0;
  padding: 0;
}
ul.contextual-links li {
  border-left: 1px solid #ccc;
  display: inline;
  line-height: 100%;
  list-style: none;
  margin: 0 0 0 0.3em;
  padding: 0 0 0 0.6em;
}
ul.contextual-links li.first {
  border-left: 0;
  margin: 0;
  padding: 0;
}
ul.contextual-links li a {
  text-decoration: none;
}
