/* $Id$ */

table {
  border-collapse: collapse;
  width: 100%;
}
form {
  margin: 0;
  padding: 0;
}
th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
  white-space: nowrap;
}
fieldset {
  margin-bottom: 1em;
  padding: .5em;
}
img {
  border: 0;
}
li.expanded {
  list-style-type: circle;
  list-style-image: url(menu-expanded.gif);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  list-style-image: url(menu-collapsed.gif);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(menu-leaf.gif);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li a.active {
  color: #000;
}
#pager {
  clear: both;
  text-align: center;
}
#pager div {
  padding: 0.5em;
}
.path {
  padding-bottom: 0.7em;
  font-size: 1.1em;
}

/*
** Module specific styles
*/
#aggregator .feed img {
  float: right;
}
#aggregator .news-item .date {
  float: left;
}
#aggregator .news-item .body {
  margin-top: 1em;
  margin-left: 4em;
}
#aggregator .news-item .body .feed {
  font-size: 0.9em;
}
.book {
  margin: 1em 0 1em 0;
}
.book .title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom:1em;
}
.book .tree {
  padding-top:1em;
  border-top: 1px solid #888;
  padding-bottom: 1em;
}
.book .name {
  padding-top:1em;
  font-weight: bold;
  font-size: 1em;
}
.book .nav {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding-bottom: 3em;
  padding-top: 1em;
  clear: both;
}
.book .nav .links {
  clear: both;
}
.book .nav .titles {
  clear: both;
}
.book .nav .prev {
  float: left;
  text-align: left;
  width: 45%;
}
.book .nav .next {
  float: right;
  text-align: right;
  width: 45%;
}
.book .nav .up {
  text-align: center;
}
.calendar .row-week td a {
  display: block;
}
.calendar .row-week td a:hover {
  background-color: #888; color: #fff;
}
.calendar a {
  text-decoration: none;
}
.calendar a:hover {
  text-decoration: none;
}
.calendar table {
  border-collapse: collapse;
  width: 100%;
}
.calendar td {
  text-align: center;
  border: 1px solid #000;
  padding: 1px;
  margin: 0;
  font-size: 0.8em;
}
.container-inline div {
  display: inline;
}
.container-inline .form-submit {
  margin: 0;
}
.form-item {
  margin-bottom: 1em;
}
.form-item .description {
  font-size: 0.85em;
}
.form-item label {
  font-weight: bold;
}
.form-item label.option {
  font-weight: normal;
}
.form-submit {
  margin: 0.5em 0;
}
.profile {
  clear: both;
  margin: 1em 0em 1em 0em;
}
.profile .picture {
  float: right;
  margin: 0 1em 1em 0;
}
#aggregator .feed img {
  float: right;
}
#aggregator .news-item .date {
  float: left;
}
#aggregator .news-item .body {
  margin-top: 1em;
  margin-left: 4em;
}
#aggregator .news-item .body .feed {
  font-size: 0.9em;
}
#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager, #tracker td.replies {
  text-align: center;
}
#tracker table {
  width: 100%;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.poll .bar .foreground {
  background-color: #000;
  height: 1em;
  clear: left;
  float: left;
}
.poll .links {
  text-align: center;
}
.poll .percent {
  text-align: right;
}
.poll .total {
  text-align: center;
}
.poll .vote-form {
  text-align: center;
}
.poll .vote-form .choices {
  text-align: left;
  margin: 0 auto;
  display: table;
}
.node-form .poll-form fieldset {
  display: block;
}
.more-link {
  text-align: right;
}
.node-form .form-text {
  display: block;
  width: 95%;
}
.node-form .standard {
  clear: both;
}
.node-form textarea {
  display: block;
  width: 95%;
}
.node-form fieldset {
  display: inline;
}
.node-form .admin .form-item .title {
  margin-top: 0;
}
.node-form .admin .authored .form-item {
  margin-bottom: 1.1em;
}
.node-form .admin .authored .form-text  {
  width: auto;
}
.node-form .admin .authored, .node-form .admin .options, .node-form .admin .extra {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}
.marker {
  color: #f00;
}
.error {
  color: #f00;
}
.ok {
  color: #080;
}
.user-login-block {
  text-align: center;
}
tr.dark {
  background-color: #ddd;
}
tr.light {
  background-color: #eee;
}
tr.dark td, tr.light td {
  padding: 0.1em 0.6em;
}
pre, code {
  font-size: 11px;
}
.menu {
  padding: 0 0 0 0.5em;
}
.menu ul {
  list-style: none;
  border: none;
  text-align:left;
}
.menu li a {
  width: 100%;
  text-decoration: none;
}
td.watchdog-user {
  background: #fea;
  border: 1px solid #dc8;
}
td.watchdog-message {
  background: #fff;
  border: 1px solid #ddd;
}
td.watchdog-special {
  background: #ccf;
  border: 1px solid #99c;
}
td.watchdog-warning {
  background: #fa2;
  border: 1px solid #d80;
}
td.watchdog-httpd {
  background: #9d9;
  border: 1px solid #7b7;
}
td.watchdog-error {
  background: #e44;
  border: 1px solid #c22;
}
td.menu-disabled {
  background: #ccc;
}
