body {
  background: url(druplicon.png) 4.2em 4em no-repeat #fff;
  color: #000;
  border: 1px solid #bbb;
  margin: 3em;
  padding: 1em 1em 1em 128px;
}
h1 {
  margin: 1.6em 0 1.1em 0;
  font-family: sans-serif;
}
:link {
  color: #0073ba;
  font-weight: bold;
}
:visited {
  color: #004975;
  font-weight: bold;
}

/* Update styles */
h3.update {
  font-size: 1em;
}
pre.update span.success {
  color: #6bb521;
}
pre.update span.failure {
  color: #b63300;
}
