/* $Id: vertical-tabs-rtl.css,v 1.2 2009/05/19 06:03:25 dries Exp $ */

.vertical-tabs {
  margin-left: 0;
  margin-right: 15em;
}
.vertical-tabs-list {
  margin-right: -15em;
  right: 0;
  float: right;
}
.vertical-tabs-list li.selected {
  border-left-width: 0;
  border-right-width: 1px;
}
