/* $Id$ */

.block {
  zoom: 1;
}
input.form-text {
  font-family: sans-serif;
}
#password-strength-text {
  margin-top: 0;
}
fieldset legend {
  left: -8px;
  padding: 0;
}
.tabs ul.primary {
  height: auto;
}
#footer-wrapper #footer .block {
  height: 100%;
}
