---
label: 'Resource Description Framework (RDF)'
top_level: true
related:
  - core.web_services
---
<h2>{% trans %}RDF module{% endtrans %}</h2>
<p>{% trans %}Enriches your content with metadata to let other applications (e.g., search engines, aggregators, and so on) better understand its relationships and attributes. This semantically enriched, machine-readable output for your website uses the <a href="https://www.w3.org/TR/xhtml-rdfa-primer/">RDFa specification</a>, which allows RDF data to be embedded in HTML markup.{% endtrans %}</p>

