{#
/**
 * @file
 * Theme override to display a file widget.
 *
 * Available variables:
 * - element: Form element for the managed file.
 * - attributes: Remaining HTML attributes for the containing element.
 *
 * @see template_preprocess_file_widget()
 */
#}
<div{{ attributes }}>
  {{ element }}
</div>
