{#
/**
 * @file
 * Default theme implementation to display a file form widget.
 *
 * Available variables:
 * - element: Form element for the file upload.
 * - attributes: HTML attributes for the containing element.
 *
 * @see template_preprocess_file_managed_file()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ element }}
</div>
