<meta name="help_topic:label" content="XYZ Help Test theme"/>
<meta name="help_topic:top_level"/>
<meta name="help_topic:related" content="help_topics_test.additional"/>
<p>{% trans %}This is a theme provided topic.{% endtrans %}</p>
