{#
/**
 * @file
 * Seven's theme implementation to display a list of custom block types.
 *
 * Displays the list of available custom block types for creation.
 *
 * Available variables:
 * - types: A collection of all the available custom block types.
 *   Each type contains:
 *   - url: A link to add a block of this type.
 *   - description: A description of this custom block type.
 *   - label: The title of the custom block type.
 *   - path: A path for the link to add a block of this type.
 *
 * @see template_preprocess_block_content_add_list()
 * @see seven_preprocess_block_content_add_list()
 */
 #}
<ul class="admin-list">
  {% for type in types %}
    <li class="clearfix">
      <a href="{{ type.url }}"><span class="label">{{ type.label }}</span><div class="description">{{ type.description }}</div></a>
    </li>
  {% endfor %}
</ul>
