{#
/**
 * @file
 * Template for a 1 column layout.
 *
 * This template provides a simple one column display layout.
 *
 * Avaiable variables:
 * - attributes: Attributes to be placed on the wrapping element.
 * - content: All content items, each content item is keyed to one region of the
 *   layout. 'content' contains the following section:
 *   - content: Content in the content column.
 *
 * @ingroup themeable
 */
#}
<div class="layout-display layout-one-col {{ attributes.class }}"{{ attributes }}>
  <div class="layout-region">
    {{ content.content }}
  </div>
</div>
