{#
/**
 * @file
 * Template for an example 1 column layout.
 */
#}
<div class="layout-example-1col clearfix">
  <div class="region-top">
    {{ content.top }}
  </div>
  <div class="region-bottom">
    {{ content.bottom }}
  </div>
</div>
