{#
/**
 * @file
 * Template for an example 2 column layout.
 */
#}
<div class="layout-example-2col clearfix">
  <div class="region-left">
    {{ content.left }}
  </div>
  <div class="region-right">
    {{ content.right }}
  </div>
</div>
