{% extends "block.html.twig" %}
{#
/**
 * @file
 * Olivero's theme implementation for Powered by Drupal block.
 *
 * The Powered by Drupal block is an optional link to the home page of the
 * Drupal project.
 *
 */
#}
{% block content %}
  {{ attach_library('olivero/powered-by-block') }}
  <span>
    {% trans %}Powered by{% endtrans %}
    <a href="https://www.drupal.org">{% trans %}Drupal{% endtrans %}</a>
    <span class="drupal-logo" role="img" aria-label="{{ 'Drupal Logo'|t }}">
      {% include "@olivero/../images/drupal.svg" %}
    </span>
  </span>
{% endblock %}
