/* $Id$ */

#blocks td.block {
  padding-left: inherit;
  padding-right: 1.5em;
}
#blocks select {
  margin-left: 24px;
}
#blocks select.progress-disabled {
  margin-left: 0px;
}
#blocks .progress .bar {
  float: right;
}
