<div class="disclaimer">
  {% if disclaimer %}
    <div class="disclaimer__disclaimer">
      {{ disclaimer }}
    </div>
  {% endif %}
  {% if copyright %}
    <div class="disclaimer__copyright">
      {{ copyright }}
    </div>
  {% endif %}
</div>
