<div{{ attributes.addClass('disclaimer') }}>
  <div class="disclaimer__disclaimer">
    {% block disclaimer %}{% endblock %}
  </div>
  <div class="disclaimer__copyright">
    {% block copyright %}{% endblock %}
  </div>
</div>
