.image-preview {
  img {
    background-color: var(--gin-pattern-fallback);
    background-image: linear-gradient(-45deg, var(--gin-pattern) 25%, transparent 26%), linear-gradient(-45deg, var(--gin-pattern) 25%, transparent 26%), linear-gradient(135deg, var(--gin-pattern) 25%, transparent 26%), linear-gradient(135deg, var(--gin-pattern) 25%, transparent 26%);
    background-position:
      0 0,
      var(--gin-pattern-square) var(--gin-pattern-square),
      var(--gin-pattern-square) var(--gin-pattern-square),
      0 0;
    background-size: calc(var(--gin-pattern-square) * 2) calc(var(--gin-pattern-square) * 2);

    @media screen and (-ms-high-contrast: active) {
      background: none;
    }
  }
}
