blockquote {
  position: relative;
  margin: var(--gin-spacing-m);
  padding-inline-start: var(--gin-spacing-l);
  font-size: var(--gin-font-size-quote);

  &::before {
    position: absolute;
    display: block;
    width: 4px;
    height: 100%;
    content: "";
    border-radius: 2px;
    background-color: var(--gin-color-primary);
    inset-block-start: 0;
    inset-inline-start: 0;
  }
}
