@import "media-queries.pcss.css";

.button,
.project__action_button,
.dropbutton__item:first-of-type > *,
.dropbutton__toggle {
  color: var(--gin-color-primary);
  background-color: transparent;
  box-shadow: none;
  font-size: var(--gin-font-size-s);
  font-weight: var(--gin-font-weight-semibold);

  &:hover {
    background-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    background-color: var(--gin-color-primary-active);
  }

  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-button-text);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: var(--gin-transition);
  }

  @media (--admin-wide) {
    font-size: var(--gin-font-size);
  }
}

.button,
.button:not(:focus),
.form-actions .button,
.project__action_button,
.action-link--icon-trash.action-link {
  border: 2px solid var(--gin-color-primary) !important;
  border-radius: var(--gin-border-m);
  box-shadow: 0 1px 2px var(--gin-color-primary-light);
  font-size: var(--gin-font-size-s);
  padding-block: calc(var(--gin-spacing-s) - 2px);
  padding-inline: var(--gin-spacing-m);

  &:hover {
    border-color: var(--gin-color-primary-hover) !important;
    background-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    border-color: var(--gin-color-primary-active) !important;
  }

  &:hover,
  &:active,
  &:focus,
  &:hover:focus {
    color: var(--gin-color-button-text);
  }

  @media (prefers-reduced-motion: no-preference) {
    transition: var(--gin-transition);
  }
}

.form-actions .button {
  margin-inline-end: var(--gin-spacing-xs);
}

.button.button--small {
  border-radius: var(--gin-border-s);
  font-size: var(--gin-font-size-xxs);
  padding-block: calc(var(--gin-spacing-xxs) + 2px);
  padding-inline: var(--gin-spacing-s);
}

.button.button--extrasmall {
  border-radius: var(--gin-border-s);
  font-size: var(--gin-font-size-xxs);
  padding-block: var(--gin-spacing-xxs);
  padding-inline: var(--gin-spacing-s);
}

#edit-submit.form-submit,
.button--primary,
.button--primary:not(:focus),
.ief-entity-submit {
  background: var(--gin-color-primary);
  box-shadow: 0.1em 0.25em 0.5em var(--gin-color-primary-light);

  &:hover {
    background-color: var(--gin-color-primary-hover);
  }

  &:active,
  &:focus {
    background-color: var(--gin-color-primary-active);
  }

  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-button-text);
  }
}

a.button:hover,
a.button:active {
  color: var(--gin-color-button-text);
}

a.button--primary:hover,
a.button--primary:active,
a.button--primary:focus,
a.button--primary:focus:hover {
  .gin--dark-mode & {
    color: var(--gin-bg-app);
  }
}

.button.button:disabled,
.button.button.is-disabled {
  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-disabled);
    border: 2px solid var(--gin-color-disabled-border) !important;
    background: transparent;
    box-shadow: none;
  }
}

.button.button--primary:disabled,
.button.button--primary.is-disabled {
  &,
  &:hover,
  &:active,
  &:focus {
    color: var(--gin-color-disabled);
    background-color: var(--gin-color-disabled-bg);
  }
}

.action-link.action-link--icon-trash {
  box-sizing: border-box;
  min-height: 2.5rem;
  line-height: 1;

  &,
  &:hover,
  &:active,
  &:focus,
  &:focus:hover {
    border: 2px solid var(--gin-color-danger) !important;
  }
}

/* Autocomplete field remove button */
.multiple-fields-remove-button.button {
  border: 0 none !important;
  mask-image: var(--admin-icon-remove);
  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  mask-position: center center;
}
