.project-update__version {
  padding-block: 0;
}

.project-update__version-links {
  padding-inline-end: 0;
}

.project-update__details {
  padding: 0;
  color: var(--gin-color-text-light);
  font-size: var(--gin-font-size-s);
}

.project-update__status {
  .gin-status-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    mask-position: center right;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;

    &:dir(rtl) {
      mask-position: center left;
    }

    img {
      display: none;
    }
  }
}

.project-update__status--security-error {
  color: var(--gin-color-danger);
}

.color-success,
tr.color-success,
.color-checked,
.drupal-upgrade-status-summary-form tr.no-known-error {
  border-inline-start: var(--gin-border-xs) solid var(--gin-color-green);
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--gin-bg-green-light);
  }
}

.color-warning,
tr.color-warning,
.upgrade-status-next-step-remove tr,
.drupal-upgrade-status-summary-form tr.known-warnings {
  border-inline-start: var(--gin-border-xs) solid var(--gin-color-warning);
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--gin-bg-warning-light);

    .gin--dark-mode & {
      color: var(--gin-color-warning);
    }
  }
}

.color-error,
tr.color-error,
.drupal-upgrade-status-summary-form tr.known-errors {
  border-inline-start: var(--gin-border-xs) solid var(--gin-color-danger);
  background-color: transparent;

  &:hover,
  &:active,
  &:focus {
    background-color: var(--gin-bg-danger-light);

    .gin--dark-mode & {
      color: var(--gin-color-danger);
    }
  }
}

.color-success,
.color-warning,
.color-error,
.color-checked {
  box-sizing: border-box;
  color: var(--gin-color-text);
}

.update {
  margin: 0;
  border: 0 none;

  tbody {
    tr:last-child {
      border-block-end: 0 none;
    }
  }
}

.gin-layer-wrapper {
  .responsive-enabled {
    margin-block-start: 0;
  }
}

.block-system > form .gin-layer-wrapper,
.panel .admin-list,
.block-system > form .dataset-table-wrapper {
  padding: 0;
  border: 0 none;
  box-shadow: none;
}

/* fix overflow issue in FF */
.block-system > form .gin-layer-wrapper {
  padding-block-end: 1px;
}

.compact-link {
  text-align: end;
  font-size: var(--gin-font-size-s);
}

#update-status > p {
  margin-block-end: var(--gin-spacing-xl);
}
