/* cspell:ignore toleft, totop, tmgmt, webform */
:root {
  --admin-icon-add: url("../../media/icons/general/add.svg");
  --admin-icon-announcement: url("../../media/icons/navigation/announcement.svg");
  --admin-icon-appearance: url("../../media/icons/toolbar/appearance.svg");
  --admin-icon-asterisk: url("../../media/icons/form/asterisk.svg");
  --admin-icon-bat: url("../../media/icons/toolbar/bat.svg");
  --admin-icon-blocks: url("../../media/icons/navigation/blocks.svg");
  --admin-icon-bookmarks: url("../../media/icons/navigation/bookmarks.svg");
  --admin-icon-checked: url("../../media/icons/form/checked.svg");
  --admin-icon-checkmark: url("../../media/icons/action-link/checkmark.svg");
  --admin-icon-chevron-down: url("../../media/icons/navigation/chevron-down.svg");
  --admin-icon-clock: url("../../media/icons/status-report/clock.svg");
  --admin-icon-close: url("../../media/icons/general/close.svg");
  --admin-icon-commerce: url("../../media/icons/toolbar/commerce.svg");
  --admin-icon-config: url("../../media/icons/toolbar/config.svg");
  --admin-icon-content: url("../../media/icons/toolbar/content.svg");
  --admin-icon-create: url("../../media/icons/navigation/create.svg");
  --admin-icon-database: url("../../media/icons/status-report/database.svg");
  --admin-icon-devel: url("../../media/icons/toolbar-meta/devel.svg");
  --admin-icon-drag: url("../../media/icons/table/drag.svg");
  --admin-icon-drag-y: url("../../media/icons/table/drag-y.svg");
  --admin-icon-drop: url("../../media/icons/general/drop.svg");
  --admin-icon-drupal: url("../../media/icons/general/drupal.svg");
  --admin-icon-edit: url("../../media/icons/toolbar/edit.svg");
  --admin-icon-error: url("../../media/icons/messages/error.svg");
  --admin-icon-extend-new: url("../../media/icons/navigation/extend-new.svg");
  --admin-icon-files: url("../../media/icons/navigation/files.svg");
  --admin-icon-first: url("../../media/icons/pager/first.svg");
  --admin-icon-group: url("../../media/icons/toolbar/group.svg");
  --admin-icon-hamburger: url("../../media/icons/toolbar/hamburger.svg");
  --admin-icon-handle: url("../../media/icons/general/handle.svg");
  --admin-icon-help: url("../../media/icons/toolbar/help.svg");
  --admin-icon-hide: url("../../media/icons/action-link/hide.svg");
  --admin-icon-info: url("../../media/icons/messages/info.svg");
  --admin-icon-last: url("../../media/icons/pager/last.svg");
  --admin-icon-media: url("../../media/icons/navigation/media.svg");
  --admin-icon-nav-toggle-toleft: url("../../media/icons/toolbar/nav-toggle-toleft.svg");
  --admin-icon-nav-toggle-totop: url("../../media/icons/toolbar/nav-toggle-totop.svg");
  --admin-icon-next: url("../../media/icons/pager/next.svg");
  --admin-icon-people-new: url("../../media/icons/navigation/people-new.svg");
  --admin-icon-php: url("../../media/icons/status-report/php.svg");
  --admin-icon-prev: url("../../media/icons/pager/prev.svg");
  --admin-icon-rebuild-cache: url("../../media/icons/toolbar-meta/rebuild-cache.svg");
  --admin-icon-remove: url("../../media/icons/action-link/remove.svg");
  --admin-icon-reports: url("../../media/icons/toolbar/reports.svg");
  --admin-icon-responsive-preview: url("../../media/icons/toolbar-meta/responsive-preview.svg");
  --admin-icon-search: url("../../media/icons/toolbar-meta/search.svg");
  --admin-icon-server: url("../../media/icons/status-report/server.svg");
  --admin-icon-shortcut: url("../../media/icons/toolbar-meta/shortcut.svg");
  --admin-icon-shortcut-filled: url("../../media/icons/toolbar-meta/shortcut-filled.svg");
  --admin-icon-show: url("../../media/icons/action-link/show.svg");
  --admin-icon-sort: url("../../media/icons/table/sort.svg");
  --admin-icon-sort-asc: url("../../media/icons/table/sort-asc.svg");
  --admin-icon-sort-desc: url("../../media/icons/table/sort-desc.svg");
  --admin-icon-status: url("../../media/icons/messages/status.svg");
  --admin-icon-structure: url("../../media/icons/toolbar/structure.svg");
  --admin-icon-tmgmt: url("../../media/icons/toolbar/tmgmt.svg");
  --admin-icon-toggle-unchecked: url("../../media/icons/form/toggle-unchecked.svg");
  --admin-icon-tool: url("../../media/icons/general/tool.svg");
  --admin-icon-trash-module: url("../../media/icons/toolbar/trash-module.svg");
  --admin-icon-user: url("../../media/icons/toolbar-meta/user.svg");
  --admin-icon-warning: url("../../media/icons/messages/warning.svg");
  --admin-icon-webform: url("../../media/icons/toolbar/webform.svg");
}
