/**
 * @file
 * Installation styling.
 *
 * Unfortunately we have to make our styling quite strong, to override the
 * .maintenance-page styling.
 */

@import "../base/variables.pcss.css";

.install-page {
  min-height: 100%;
  background-color: var(--color-gray-100);
}

/**
 * Password widget
 */
.install-page .password-parent,
.install-page .confirm-parent {
  width: auto;
}
.install-page .form-item .password-suggestions {
  float: none;
  width: auto;
}
.install-page table td {
  word-break: break-all;
}

.install-page .site-version {
  vertical-align: super;
  color: var(--color-gray-500);
  font-size: 0.5em;
  font-weight: 500;
}

@media all and (max-width: 1010px) and (min-width: 48em) {
  .install-page .password-strength,
  .install-page .confirm-parent {
    width: 100%;
  }
  .install-configure-form .form-type-password {
    width: 100%;
  }
  .password-confirm,
  .password-field {
    float: none;
  }
  .password-confirm-match {
    float: none;
    width: auto;
    max-width: 100%;
  }
}
