/**
 * @file
 * Toolbar theme styles.
 */

@import "../base/variables.pcss.css";

.toolbar {
  font-size: var(--toolbar-font-size);
}

.toolbar-item,
.toolbar button {
  cursor: pointer;
  text-decoration: none;
}

.toolbar-toggle-orientation > .toolbar-lining {
  text-align: right; /* LTR */
}
[dir="rtl"] .toolbar-toggle-orientation > .toolbar-lining {
  text-align: left;
}

.toolbar-bar {
  display: flex;
  flex-wrap: wrap;
  color: var(--toolbar-tab-fg-color);
  background: var(--toolbar-tab-bg-color);
  box-shadow: none;
}

.toolbar-tray {
  color: var(--toolbar-tray-fg-color);
  background: var(--toolbar-tray-bg-color);
}
.toolbar-tray-vertical {
  color: var(--toolbar-tray-fg-color);
  border: 0; /* No border for unoriented mode (below 16.5em). */
  background: var(--toolbar-tray-bg-color);
  box-shadow: none;
}
[dir="rtl"] .toolbar-tray-vertical {
  border: 0;
}
.toolbar-tray-vertical.is-active {
  border-right: var(--toolbar-tray-border-size) solid var(--toolbar-tray-border-color);
}
[dir="rtl"] .toolbar-tray-vertical.is-active {
  border-left: var(--toolbar-tray-border-size) solid var(--toolbar-tray-border-color);
}

.toolbar-horizontal .toolbar-tray,
[dir="rtl"] .toolbar-horizontal .toolbar-tray {
  color: var(--toolbar-tray-fg-color);
  border-bottom: 1px solid var(--toolbar-tray-border-color--horizontal);
  background: var(--toolbar-tray-bg-color);
  box-shadow: none;
}

/* Padding that provides space for the orientation toggle. */
.toolbar-horizontal .toolbar-tray > .toolbar-lining {
  padding-right: var(--toolbar-orientation-toggle-size);
}
[dir="rtl"] .toolbar-horizontal .toolbar-tray > .toolbar-lining {
  padding-right: 0;
  padding-left: var(--toolbar-orientation-toggle-size);
}

.toolbar-item {
  min-height: var(--toolbar-tab-height);
  padding: var(--toolbar-tab-padding--vertical) var(--toolbar-tab-padding--horizontal);
  white-space: nowrap;
  color: var(--toolbar-tab-fg-color);
  font-weight: bold;
  line-height: var(--toolbar-tab-line-height); /* Inherited font size is --font-size-s. */
  -webkit-font-smoothing: antialiased;
}

.toolbar-item:hover,
.toolbar-item.is-active:hover {
  color: var(--toolbar-tab-fg-color);
  background: var(--toolbar-tab-bg-color--hover);
}
.toolbar-item:active,
.toolbar-item.is-active:active {
  color: var(--toolbar-tab-fg-color);
  background: var(--toolbar-tab-bg-color--active);
}
.toolbar-item.is-active {
  color: var(--toolbar-tab-fg-color);
  background: var(--toolbar-tab-bg-color--is-active);
}

@media only screen and (min-width: 48em) {
  .toolbar-item {
    min-height: var(--toolbar-tab-height--large);
    padding-top: var(--toolbar-tab-padding--vertical--large);
    padding-bottom: var(--toolbar-tab-padding--vertical--large);
    line-height: var(--toolbar-tab-line-height--large);
  }
}

@media only screen and (-ms-high-contrast: active) {
  .toolbar-item {
    border-bottom: 1px solid white;
  }
}

/**
 * Handle.
 */
.toolbar-tray .toolbar-icon.toolbar-handle {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0; /* LTR */
  bottom: 0;
  display: block;
  height: 100%;
  padding: 0;
}
[dir="rtl"] .toolbar-icon.toolbar-handle {
  right: auto;
  left: 0;
  padding: 0;
}

.toolbar-box .toolbar-handle,
[dir="rtl"] .toolbar-box .toolbar-handle {
  width: var(--toolbar-icon-item-width--only-icon);
}

.toolbar-icon.toolbar-handle {
  width: var(--toolbar-icon-item-width--only-icon);
  padding: 0 var(--toolbar-tab-padding--horizontal);
  text-indent: -9999px;
}
.toolbar-icon.toolbar-handle:hover {
  background: var(--toolbar-handle-bg-color--hover);
}
.toolbar-icon.toolbar-handle:active {
  background: var(--toolbar-handle-bg-color--active);
}

/* Every menu-item link in the tray. */
.toolbar-tray a {
  position: relative;
  padding: var(--toolbar-tray-link-padding--vertical) var(--toolbar-tray-link-padding--horizontal);
  text-decoration: none;
  color: var(--toolbar-tray-link-fg-color);
  background: var(--toolbar-tray-link-bg-color);
  line-height: var(--toolbar-tray-link-line-height);
  -webkit-font-smoothing: antialiased;
}

/* No underlined links. */
.toolbar-tray a:hover,
.toolbar-tray a:active,
.toolbar-tray a:focus,
.toolbar-tray a.is-active {
  text-decoration: none;
}

.toolbar .level-2 a,
.toolbar .level-2 .toolbar-handle {
  color: var(--toolbar-tray-link-fg-color);
  background: var(--toolbar-tray-link-bg-color--level2);
}
.toolbar .level-3 a,
.toolbar .level-3 .toolbar-handle {
  color: var(--toolbar-tray-link-fg-color);
  background: var(--toolbar-tray-link-bg-color--level3);
}
.toolbar .level-4 a {
  color: var(--toolbar-tray-link-fg-color);
  background: var(--toolbar-tray-link-bg-color--level4);
}

/* Current page and in-trail styles */
.toolbar-tray a.is-active,
.menu-item--active-trail > .toolbar-box a {
  color: var(--toolbar-tray-link-fg-color--is-active);
  background: var(--toolbar-tray-link-bg-color);
  font-weight: bold;
}
.level-2.menu-item--active-trail > .toolbar-box a {
  color: var(--toolbar-tray-link-fg-color--is-active);
  background: var(--toolbar-tray-link-bg-color--level2);
}
.level-3.menu-item--active-trail > .toolbar-box a {
  color: var(--toolbar-tray-link-fg-color--is-active);
  background: var(--toolbar-tray-link-bg-color--level3);
}
.level-4.menu-item--active-trail > .toolbar-box a {
  color: var(--toolbar-tray-link-fg-color--is-active);
  background: var(--toolbar-tray-link-bg-color--level4);
}

/* Hover states with the same selector strength as the current page states. */
.toolbar-tray a:hover,
.toolbar .toolbar-tray a.is-active:hover,
.toolbar .toolbar-tray .menu-item--active-trail > .toolbar-box a:hover {
  color: var(--toolbar-tray-link-fg-color--hover);
  background: var(--toolbar-tray-link-bg-color--hover);
}

.toolbar-tray-horizontal a {
  font-weight: bold;
}
.toolbar-tray-horizontal a:hover,
.toolbar-tray-horizontal a:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Active (pressed) state */
.toolbar-tray a:active,
.toolbar-tray a.is-active:active,
.toolbar-tray .menu-item--active-trail > .toolbar-box a:active {
  color: var(--toolbar-tray-link-fg-color--active);
  background: var(--toolbar-tray-link-bg-color--active);
}

/* Box shadow to help indicate a new menu level. */
.toolbar-menu:not(.root) .menu-item:first-child > .toolbar-box > a,
.toolbar-menu:not(.root) .menu-item:first-child > .toolbar-box > button {
  box-shadow: inset 0 6px 6px -3px rgba(0, 0, 0, 0.05);
}

.level-1 > .toolbar-menu {
  border-top: var(--toolbar-tray-border-size) solid var(--toolbar-tray-border-color);
}

.level-2 .toolbar-menu {
  border: var(--toolbar-tray-border-size) solid var(--toolbar-tray-border-color);
  border-width: var(--toolbar-tray-border-size) 0;
}

.toolbar-tray-vertical .toolbar-menu__menu-item {
  border: var(--toolbar-tray-border-size) solid var(--toolbar-tray-border-color);
  border-width: 0 0 var(--toolbar-tray-border-size);
}

/* No border for deeper levels. */
.toolbar-tray-vertical .toolbar-menu__menu-item .toolbar-menu__menu-item {
  border: 0;
}

.toolbar .toolbar-tray.is-active {
  /**
   * If the toolbar wraps to more than one line, the icon buttons
   * will appear on top of the horizontal tray unless z-index is boosted.
  */
  z-index: var(--toolbar-tray-z-index--active);
}

@media screen and (max-width: 319px) {
  .toolbar .toolbar-tray-vertical.is-active {
    width: 100%;
  }
}

@media only screen and (-ms-high-contrast: active) {
  .toolbar a:hover,
  .toolbar button:hover {
    text-decoration: underline;
  }
}
