{#
/**
 * @file
 * Default theme implementation for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 *
 * @ingroup themeable
 */
#}
{% if title is not empty or required -%}
  <label{{ attributes }}>{{ title }}</label>
{%- endif %}
