{#
/**
 * @file
 * Default theme implementation for a set of indentation divs.
 *
 * These <div> tags are used for drag and drop tables.
 *
 * Available variables:
 * - size: Optional. The number of indentations to create.
 *
 * @ingroup themeable
 */
#}
<!--
THIS FILE IS NOT USED AND IS HERE AS A STARTING POINT FOR CUSTOMIZATION ONLY.
See https://api.drupal.org/api/function/theme_indentation/8 for details.
After copying this file to your theme's folder and customizing it, remove this
HTML comment.
-->
{% for i in 1..size if size > 0 %}<div class="js-indentation indentation">&nbsp;</div>{% endfor %}
