{#
/**
 * @file
 * Default theme implementation for a marker for new or updated content.
 *
 * Available variables:
 * - status: Number representing the marker status to display. Use the constants
 *   below for comparison:
 *   - MARK_NEW
 *   - MARK_UPDATED
 *   - MARK_READ
 *
 * @ingroup themeable
 */
#}
{% if logged_in %}
  {% if status is constant('MARK_NEW') %}
    <span>{{ 'new'|t }}</span>
  {% elseif status is constant('MARK_UPDATED') %}
    <span>{{ 'updated'|t }}</span>
  {% endif %}
{% endif %}
