{#
/**
 * @file
 * Default theme implementation to configure blocks.
 *
 * Available variables:
 * - form: The form elements which contains:
 *   - left: Form elements that appear in the left column.
 *   - right: Form elements that appear in the right column.
 *
 * @see template_preprocess_system_plugin_ui_form()
 *
 * @ingroup themeable
 */
#}
<div id="block-library" class="container">
  <div class="left-col">
    <div class="inside">
      {{ form.left }}
    </div>
  </div>
  <div class="right-col">
    <div class="inside">
      {{ form.right }}
    </div>
  </div>
  {% if form -%}
    <div class="bottom-bar">{{ form }}</div>
  {%- endif -%}
</div>
