#
# Apache/PHP/site settings:
#

# Archive feature:
<Files archive>
  ForceType application/x-httpd-php
</Files>

# Protect .inc files:
#  .inc files can be read from the web so make sure we keep it 
#  away from the casual prying eyes.  Especially `config.inc'.
<Files *.inc>
  order deny,allow
  deny from all
</Files>

# Protect CVS directories:
<Files *CVS>
  order deny,allow
  deny from all
</Files>

# Protect theme directories:
<Files *themes>
  order deny,allow
  deny from all
</Files>

# Customized server error messages:
ErrorDocument 400 /error.php
ErrorDocument 402 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php

# Overload PHP variables:
<IfModule mod_php4.c>
   php_value php_register_globals    1
   php_value track_vars              1
   php_value magic_quotes_gpc        1
   php_value magic_quotes_runtime    0
   php_value magic_quotes_sybase     0
   php_value session.name            DROPID
   php_value session.auto_start      1  
   php_value session.cookie_lifetime 17280000
   php_value session.gc_maxlifetime  17280000
   php_value session.cache_expire    1800
</IfModule>
