<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="../../../bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
  </php>
  <extensions>
    <!-- Deprecation handler.
       See core/phpunit.xml.dist for details on the extension configuration.
    -->
    <bootstrap class="Drupal\TestTools\Extension\DeprecationBridge\DeprecationHandler">
      <parameter name="enableProjectIgnores" value="true"/>
      <parameter name="projectIgnoreFile" value="core/.deprecation-ignore.txt"/>
      <parameter name="enableDebugClassLoader" value="true"/>
    </bootstrap>
  </extensions>
  <testsuites>
    <testsuite name="unit-component">
      <directory>.</directory>
    </testsuite>
  </testsuites>
  <!-- Settings for coverage reports. -->
  <source ignoreSuppressionOfDeprecations="true">
    <include>
      <directory>../../../../lib/Drupal/Component</directory>
    </include>
  </source>
</phpunit>
