{#
/**
 * @file
 * Template for a 2 column layout.
 *
 * This template provides a two column display layout, with each column equal in
 * width.
 *
 * Available variables:
 * - content: All content items, each content item is keyed to one region of the
 *   layout. 'content' contains the following sections:
 *   - left: Content in the left column.
 *   - right: Content in the right column.
 *
 * @ingroup themeable
 */
#}
<div class="layout-display layout-two-col clearfix">
  <div class="layout-region layout-col-left">
    <div class="inside">{{ content.left }}</div>
  </div>

  <div class="layout-region layout-col-right">
    <div class="inside">{{ content.right }}</div>
  </div>
</div>
