
.help-items {
  float: left; /* LTR */
  width: 22%;
  margin-right: 3%; /* LTR */
}
.help-items-last {
  margin-right: 0; /* LTR */
}

/**
 * Avoid text overlapping on a narrow viewport.
 */
@media screen and (max-width: 480px) {
  .help-items {
    float: none;
    width: 100%;
    margin: 0;
  }
}
