/**
 * @file
 * Styles for administration pages.
 */

/**
 * Revisions overview screen.
 */
.revision-current {
  background: #ffc;
}

/**
 * Node form dropbuttons.
 */
.form-actions .dropbutton-wrapper {
  float: left;
  margin-right: 1em;
}

.form-actions .dropbutton-wrapper .dropbutton-widget {
  position: static;
}

.form-actions .dropbutton-wrapper li a,
.form-actions .dropbutton-wrapper input {
  padding: 5px 17px 6px 17px;
  margin-bottom: 0em;
  border: medium;
  border-radius: 0;
  background: none;
}

.form-actions .dropbutton-wrapper input:hover {
  background: none;
  border: none;
}

.form-actions .button {
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #fefefe, #e0e0e0);
  background-image: -moz-linear-gradient(top, #fefefe, #e0e0e0);
  background-image: -o-linear-gradient(top, #fefefe, #e0e0e0);
  background-image: linear-gradient(to bottom, #fefefe, #e0e0e0);
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  text-decoration: none;
  padding: 6px 17px 6px 17px;
  margin-left: 0;
}

.form-actions .button:focus,
.form-actions .button:hover {
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #fefefe, #eaeaea);
  background-image: -moz-linear-gradient(top, #fefefe, #eaeaea);
  background-image: -o-linear-gradient(top, #fefefe, #eaeaea);
  background-image: linear-gradient(to bottom, #fefefe, #eaeaea);
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
  color: #2e2e2e;
  text-decoration: none;
}
.form-actions .button:active {
  border: 1px solid #c8c8c8;
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #eaeaea, #fefefe);
  background-image: -moz-linear-gradient(top, #eaeaea, #fefefe);
  background-image: -o-linear-gradient(top, #eaeaea, #fefefe);
  background-image: linear-gradient(to bottom, #eaeaea, #fefefe);
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
  color: #2e2e2e;
  text-decoration: none;
  text-shadow: none;
}

/* Delete button */
.form-actions .button-danger {
  color: #c72100;
  background: none;
  border: none;
  float: right;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.form-actions .button-danger:hover,
.form-actions .button-danger:focus {
  color: #ff2a00;
  background: none;
  border: none;
  text-decoration: underline;
}
.form-actions .button-danger:active {
  color: #ff2a00;
  background: none;
  border: none;
  text-decoration: underline;
}


/**
 * Form edit action theming
 */
.js .form-actions .dropbutton-widget {
  background-color: #50a0e9;
  background-image: -moz-linear-gradient(-90deg, #50a0e9, #4481dc);
  background-image: -o-linear-gradient(-90deg, #50a0e9, #4481dc);
  background-image: -webkit-linear-gradient(-90deg, #50a0e9, #4481dc);
  background-image: linear-gradient(180deg, #50a0e9, #4481dc);
  border-radius: 3px;
  border: 1px solid #3974ae;
}
.js .form-actions .dropbutton-widget .dropbutton li {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-top-left-radius: 3px;
}
.js .form-actions .dropbutton-widget .dropbutton .dropbutton-toggle {
  border-top-left-radius: 0px;
  border-top-right-radius: 3px;
  top: 1px;
}
.js .form-actions .dropbutton-widget .dropbutton .secondary-action {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 0px;
}
.js .form-actions .dropbutton-widget .button {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(31, 83, 131, 0.8);
}
.js .form-actions .dropbutton-multiple.open .dropbutton-action:hover {
  background-color: #50a0e9;
}



