/**
 * @file
 * Visual styles for item list.
 */

.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em; /* LTR */
  padding: 0;
}
[dir="rtl"] .item-list ul li {
  margin: 0 1.5em 0.25em 0;
}
ul.item-list__comma-list {
  display: inline;
}
ul.item-list__comma-list li {
  display: inline;
  list-style-type: none;
}
ul.item-list__comma-list,
ul.item-list__comma-list li,
[dir="rtl"] ul.item-list__comma-list,
[dir="rtl"] ul.item-list__comma-list li {
  margin: 0;
  padding: 0;
}
ul.item-list__comma-list li:after {
  content: ", ";
}
ul.item-list__comma-list li:last-child:after {
  content: "";
}
