
/* ---------- Basic Layout RTL Styles ----------- */

.region-header {
  float: left;
}
#secondary-menu {
  left: 0;
  right: auto;
}

@media all and (min-width: 560px) and (max-width: 850px) {

  #sidebar-first,
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last,
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    float: right;
  }
  #sidebar-second {
    margin-right: 50%;
  }
  .one-sidebar #sidebar-second {
    margin-right: 0;
  }
}

@media all and (min-width: 851px) {

  #content,
  #sidebar-first,
  #sidebar-second,
  .region-triptych-first,
  .region-triptych-middle,
  .region-triptych-last,
  .region-footer-firstcolumn,
  .region-footer-secondcolumn,
  .region-footer-thirdcolumn,
  .region-footer-fourthcolumn {
    float: right;
  }
  .sidebar-first #content {
    margin-left: 0;
    margin-right: 25%;
  }
  .sidebar-second #content {
    margin-right: 0;
    margin-left: 25%;
  }
  #sidebar-first {
    margin-right: -100%;
  }
  #sidebar-second {
    margin-right: -25%;
  }
}
