---
label: 'Using in-line (quick) content editing'
related:
  - core.ui_components
  - core.settings_tray
---
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Edit content in place.{% endtrans %}</p>
<h2>{% trans %}What is quick editing?{% endtrans %}</h2>
<p>{% trans %}Quick editing is editing content inline. Content quick editing is provided by the core Quick Edit module or its contributed replacement. It requires the core Contextual Links module in order to expose the links that let you edit in place.{% endtrans %}</p>
<h2>{% trans %}Who can edit content in place?{% endtrans %}</h2>
<p>{% trans %}In order to follow these steps to edit content in place, the core Quick Edit module or its contributed replacement must be installed. Also, either the core Toolbar module or a contributed replacement must be installed. You will need to have <em>Use contextual links</em> permission, <em>Access in-place editing</em> permission, as well as permission to edit the particular content.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}Find and visit a page on your site that has the content that you would like to edit.{% endtrans %}</li>
  <li>{% trans %}Click the contextual links <em>Edit</em> button on the toolbar (in most themes, it looks like a pencil). Contextual <em>Edit</em> links with the same icon will appear all over your page.{% endtrans %}</li>
  <li>{% trans %}Find the contextual link for the part of the page you want to edit. For example, to edit a specific post on the front page, the link should be in the top-right corner of the post, or top-left for right-to-left languages.{% endtrans %}</li>
  <li>{% trans %}Click the link to open the contextual links menu, and click <em>Quick edit</em>. All editable fields will be enclosed in a light blue box. Hover over any box to see the label of the field that box contains. Click on the box and a form to edit that field will appear.{% endtrans %}</li>
  <li>{% trans %}Make your edits and submit the form.{% endtrans %}</li>
</ol>
