{#
/**
 * @file
 * Default theme implementation to display a language content settings table.
 *
 * Available variables:
 * - title: The title of the table.
 * - build: Table of content language settings.
 *
 * @see template_preprocess_language_content_settings_table()
 *
 * @ingroup themeable
 */
#}
<h4>{{ title }}</h4>
{{ build }}
