{#
/**
 * @file
 * Default theme implementation for the node created field.
 *
 * This is an override of field.html.twig for the node created field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 *
 * @see field.html.twig
 *
 * @ingroup themeable
 */
#}
<span{{ attributes }}>
  {%- for item in items -%}
    {{ item.content }}
  {%- endfor -%}
</span>
