{#
/**
 * @file
 * Default theme implementation for a 'radios' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered radios.
 *
 * @see template_preprocess_radios()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('form-radios') }}>{{ children }}</div>
