
/**
 * Override of misc/vertical-tabs-rtl.css.
 */
.vertical-tabs {
  background: #fff url(images/fc-rtl.png) repeat-y right 0;
}
.vertical-tabs .vertical-tabs-list {
  float: right;
  margin: 0 0 -1px -100%;
}
.vertical-tabs .selected a,
.vertical-tabs .selected a:hover,
.vertical-tabs .selected a:focus,
.vertical-tabs .selected a:active {
  border-left-color: #fff;
}
.vertical-tabs .vertical-tabs-panes {
  margin: 0 245px 0 0;
}
