<div{{ attributes.addClass('umami-badge') }}>
  <div class="umami-badge__container">
    {% if icon %}
      <div class="umami-badge__icon">
        {{ source(componentMetadata.path ~ '/icons/' ~ icon|default('knife') ~ '.svg') }}
      </div>
    {% endif %}
    {% if block('label') is defined and block('label')|trim %}
      <div class="umami-badge__label">{% block label %}{% endblock %}</div>
    {% endif %}
    {% block text %}{% endblock %}
  </div>
</div>
