/**
 * @file
 * Page title.
 */

.block-page-title-block {
  margin-block-end: var(--space-s);

  &:last-child {
    margin-block-end: var(--space-l);
  }
}

.page-title {
  display: inline-block;
  margin: 0;
  font-size: var(--font-size-h1);
  -webkit-font-smoothing: antialiased;

  @nest .region-header > & {
    /**
     * In this case page title is not rendered as a block ¯\_(ツ)_/¯.
     *
     * @see Drupal\system\Controller\BatchController::batchPage()
     */
    margin-block: var(--breadcrumb-height) var(--space-l);
  }
}
