/**
 * @file
 * General styles for splitbuttons.
 */

@import "../base/variables.pcss.css";

.splitbutton {
  display: inline-flex;
}

html:not(.js) .splitbutton {
  display: block;
}

.splitbutton__main .splitbutton__toggle {
  margin-left: 1px;
}

.splitbutton__main .splitbutton__toggle:focus {
  z-index: 5;
}

.splitbutton__main .button {
  margin-top: 0;
  margin-right: 0; /* LTR */
  margin-bottom: 0;
}
[dir="rtl"] .splitbutton__main .button {
  margin-right: 1px;
  margin-left: 0;
}

.splitbutton .button:not(:focus) {
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.25);
}

.splitbutton__toggle {
  position: relative;
  box-shadow: none;
}
.splitbutton__toggle::after {
  position: absolute;
  top: 50%;
  right: var(--button--horizontal-padding);
  width: 0.875rem;
  height: 0.5625rem;
  content: "";
  transform: translate(50%, -50%) rotate(0);
  border: none;
  background: url(../../images/icons/222330/chevron-down.svg) no-repeat center;
  background-size: contain;
}
[data-drupal-splitbutton-open] .splitbutton__toggle::after {
  transform: translate(50%, -50%) rotate(180deg);
}
[dir="rtl"] [data-drupal-splitbutton-open] .splitbutton__toggle::after {
  transform: translate(50%, -50%) rotate(-180deg);
}

.splitbutton__toggle--with-title.button {
  padding-right: calc(var(--button--horizontal-padding) * 2); /* LTR */
}
[dir="rtl"] .splitbutton__toggle--with-title.button {
  padding-right: var(--button--horizontal-padding);
  padding-left: calc(var(--button--horizontal-padding) * 2);
}

.js .splitbutton__operation-list {
  list-style: none;
}

.js .splitbutton__operation-list li:not(:focus) {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.js .splitbutton__operation-list-item {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: var(--splitbutton-item-padding);
  text-align: left;
  white-space: nowrap;
  text-decoration: none;
  color: #545560;
  /*
   * Styling for borders require !important due to .button having border styles
   * set to !important in button.pcss.css.
   */
  border: var(--splitbutton-item-border-size) solid var(--color-lightgray) !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  border-radius: 2px;
  background: #fff;
  box-shadow: none;
  font-size: var(--splitbutton-item-font-size);
  font-weight: normal;
  line-height: var(--splitbutton-item-line-height);
  -webkit-font-smoothing: antialiased;
}
.js .splitbutton__operation-list-item:focus {
  z-index: 5;
  padding: var(--splitbutton-item-padding--focus);
  /*
   * Styling for borders require !important due to .button having border styles
   * set to !important in button.pcss.css.
   */
  border: var(--splitbutton-item-border-size--focus) solid var(--color-focus) !important;
  outline: none;
}
.js .splitbutton__operation-list-item:hover {
  color: #222330;
  background: #f3f4f9;
}
.js li:first-child .splitbutton__operation-list-item {
  border-top: 1px solid var(--color-lightgray);
}
.js li:last-child .splitbutton__operation-list-item {
  border-bottom: 1px solid var(--color-lightgray);
}

/* Variants */

.no-touchevents .splitbutton--small .splitbutton__toggle::after,
.no-touchevents .splitbutton--extrasmall .splitbutton__toggle::after {
  right: var(--button--small--horizontal-padding);
  width: 0.75rem;
}

.no-touchevents .splitbutton__toggle--with-title.button--small {
  padding-right: calc(var(--button--small--horizontal-padding) * 2 + 2px);
}

.no-touchevents .splitbutton--extrasmall .splitbutton__toggle::after {
  right: var(--button--extrasmall--horizontal-padding);
}

.no-touchevents .splitbutton__toggle--with-title.button--extrasmall {
  padding-right: calc(var(--button--extrasmall--horizontal-padding) * 2 + 4px);
}

.js .splitbutton--primary .splitbutton__toggle::after,
.js .splitbutton--danger .splitbutton__toggle::after {
  background: url(../../images/icons/ffffff/chevron-down.svg) no-repeat center;
}

.no-touchevents .splitbutton--small .splitbutton__operation-list-item,
.no-touchevents .splitbutton--extrasmall .splitbutton__operation-list-item {
  padding-top: var(--splitbutton-item-padding-vertical--small);
  padding-bottom: var(--splitbutton-item-padding-vertical--small);
  font-size: var(--font-size-xs);
  line-height: var(--font-size-xs);
}

.no-touchevents .splitbutton--extrasmall .splitbutton__operation-list-item {
  padding-top: var(--splitbutton-item-padding-vertical--extrasmall);
  padding-bottom: var(--splitbutton-item-padding-vertical--extrasmall);
}

.no-touchevents .splitbutton--small .splitbutton__operation-list-item:focus,
.no-touchevents .splitbutton--extrasmall .splitbutton__operation-list-item:focus {
  padding-top: var(--splitbutton-item-padding-vertical--focus--small);
  padding-bottom: var(--splitbutton-item-padding-vertical--focus--small);
}

.no-touchevents .splitbutton--extrasmall .splitbutton__operation-list-item:focus {
  padding-top: var(--splitbutton-item-padding-vertical--focus--extrasmall);
  padding-bottom: var(--splitbutton-item-padding-vertical--focus--extrasmall);
}
