/**
 * @file
 * The .admin.css file is intended to only contain positioning and size
 * declarations. For example: display, position, float, clear, and overflow.
 */

.views-admin pre {
  margin-block: 0;
  white-space: pre-wrap;
}

.views-display-deleted {
  & > details > summary,
  & .details-wrapper > .views-ui-display-tab-bucket > *,
  & .views-display-columns {
    opacity: 0.25;
  }
}
.views-display-disabled {
  & > details > summary,
  & .details-wrapper > .views-ui-display-tab-bucket > *,
  & .views-display-columns {
    opacity: 0.5;
  }
}
.views-display-tab .details-wrapper > .views-ui-display-tab-bucket .actions {
  opacity: 1;
}

.views-display-column {
  box-sizing: border-box;
}
.views-display-columns > * {
  float: none;
  width: auto;
  margin-block: 0 var(--space-l);
  margin-inline: 0;
}

@media screen and (min-width: 60rem) { /* 960px */
  .views-display-columns {
    & > * {
      float: left; /* LTR */
      width: 32%;
      margin-block-end: 0;
      margin-inline-start: 2%;
    }
    & > *:first-child {
      margin-inline-start: 0;
    }

    @nest [dir="rtl"] & {
      & > * {
        float: right;
      }
    }
  }
}

.views-ui-dialog {
  & .scroll {
    overflow: auto;
    padding: 1em;
  }

  /* Don't let the messages overwhelm the modal */
  & .views-messages {
    overflow: auto;
    max-height: 200px;
  }
}

.form-item--options-value-all {
  display: none;
}

.js-only {
  display: none;
}

html.js {
  & .js-only {
    display: inherit;
  }

  & span {
    &.js-only {
      display: inline;
    }
  }
}
