{#
/**
 * @file
 * Template for a one column layout.
 *
 * This template provides a very simple "one column" display layout.
 *
 * Avaiable variables:
 * - content: All content items, each content item is keyed to one region of the
 *   layout. 'content' contains the following section:
 *   - middle: The only region in the layout.
 *
 * @ingroup themeable
 */
#}
<div class="layout-display layout-one-col clearfix">
  <div class="layout-region layout-col">
    <div class="inside">{{ content.middle }}</div>
  </div>
</div>
