/**
 * Presentational styles for Drupal dialogs.
 */

.ui-dialog {
  position: absolute;
  z-index: 1260;
  overflow: visible;
  color: #000;
  background: #fff;
  border: solid 1px #ccc;
  padding: 0;
}
.ui-dialog .ui-dialog-titlebar {
  font-weight: bold;
  background: #f3f4ee;
  border-style: solid;
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-color: #ccc;
}
.ui-dialog .ui-dialog-titlebar-close {
  border: 0;
  background: none;
}
.ui-dialog .ui-dialog-buttonpane {
  margin-top: 0;
  background: #f3f4ee;
  padding: .3em 1em;
  border-width: 1px 0 0 0;
  border-color: #ccc;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  margin: 0;
  padding: 0;
}
.ui-dialog .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
  padding: 0;
}

.ui-dialog .ui-dialog-buttonpane button {
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #fefefe, #e0e0e0);
  background-image: -moz-linear-gradient(top, #fefefe, #e0e0e0);
  background-image: -o-linear-gradient(top, #fefefe, #e0e0e0);
  background-image: linear-gradient(to bottom, #fefefe, #e0e0e0);
  border: 1px solid #c8c8c8;
  border-radius: 3px;
  text-decoration: none;
  padding: 6px 17px 6px 17px;
}
.ui-dialog .ui-dialog-buttonpane button:hover,
.ui-dialog .ui-dialog-buttonpane button:focus {
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #fefefe, #eaeaea);
  background-image: -moz-linear-gradient(top, #fefefe, #eaeaea);
  background-image: -o-linear-gradient(top, #fefefe, #eaeaea);
  background-image: linear-gradient(to bottom, #fefefe, #eaeaea);
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
  color: #2e2e2e;
  text-decoration: none;
}
.ui-dialog .ui-dialog-buttonpane button:active {
  border: 1px solid #c8c8c8;
  background: #fefefe;
  background-image: -webkit-linear-gradient(top, #eaeaea, #fefefe);
  background-image: -moz-linear-gradient(top, #eaeaea, #fefefe);
  background-image: -o-linear-gradient(top, #eaeaea, #fefefe);
  background-image: linear-gradient(to bottom, #eaeaea, #fefefe);
  -webkit-box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
  box-shadow: 1px 1px 3px rgba(50, 50, 50, 0.1);
  color: #2e2e2e;
  text-decoration: none;
  text-shadow: none;
}

/* Form action buttons are moved in dialogs. Remove empty space. */
.ui-dialog .ui-dialog-content .form-actions {
  padding: 0;
  margin: 0;
}
.ui-dialog .ajax-progress-throbber {
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%;
  position: fixed;
  top: 48.5%;
  z-index: 1000;
  background-color: #232323;
  background-image: url("loading-small.gif");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 7px;
  height: 24px;
  opacity: 0.9;
  padding: 4px;
  width: 24px;
}
.ui-dialog .ajax-progress-throbber .throbber,
.ui-dialog .ajax-progress-throbber .message {
  display: none;
}

