
.vertical-tabs {
  margin-left: 0;
  margin-right: 15em;
}
.vertical-tabs-list {
  float: right;
  margin-left: 0;
  margin-right: -15em;
}
.vertical-tab-button.selected {
  border-left-width: 0;
  border-right-width: 1px;
}
