{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
{% set entity = row._entity %}
{% if entity.hasTranslation(row.node_field_data_langcode) %}
  {% set entity = row._entity.getTranslation(row.node_field_data_langcode) %}
{% endif %}

{% if entity.isPublished() %}
  <span class="marker marker--published">{{ output -}}</span>
{% else %}
  <span class="marker">{{ output -}}</span>
{% endif %}

