/**
 * @file update-report.css
 *
 * Styling for the Available updates report at admin/reports/updates
 */

.project-update__compatibility-details details {
  height: 20px;
  margin: 2px 0;
  border: 0;
  background-color: inherit;
}
.project-update__compatibility-details details[open] {
  overflow: visible;
  height: auto;
  white-space: normal;
}
.project-update__compatibility-details summary {
  margin: 0;
  padding: 0;
  text-transform: none;
  border: 0;
  font-weight: normal;
}
.project-update__compatibility-details .details-wrapper {
  margin: 0;
  padding: 5px 0;
}
