{#
/**
 * @file
 * Theme override for an administrative block.
 *
 * Available variables:
 * - block: An array of information about the block, including:
 *   - show: A flag indicating if the block should be displayed.
 *   - title: The block title.
 *   - content: (optional) The content of the block.
 *   - description: (optional) A description of the block.
 *     (Description should only be output if content is not available).
 * - attributes: HTML attributes for the containing div element.
 */
#}
{%
  set classes = [
    'panel',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if block.title %}
    <h3 class="panel__title">{{ block.title }}</h3>
  {% endif %}
  {% if block.content %}
    <div class="panel__content">{{ block.content }}</div>
  {% elseif block.description %}
    <div class="panel__description">{{ block.description }}</div>
  {% endif %}
</div>
