{#
/**
 * @file
 * Theme override to display a language content settings table.
 *
 * Available variables:
 * - title: The title of the table.
 * - build: Table of content language settings.
 *
 * @see template_preprocess_language_content_settings_table()
 */
#}
<h4>{{ title }}</h4>
{{ build }}
