/**
 * @file
 * This file is used to create a 2 column grid layout.
 */
.grid--2 .view-content {
  margin-right: -14px;
  margin-left: -14px;
}
.grid--2 .views-row {
  margin-bottom: 28px;
  padding: 0 14px;
}

@media screen and (min-width: 30em) {
  .grid--2 {
    overflow-x: hidden;
  }
  .grid--2 .view-content {
    display: flex;
    flex-wrap: wrap;
  }
  .grid--2 .views-row {
    display: flex;
    flex-basis: calc(50% - 28px);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0 14px 28px;
    padding: 0;
  }
}
