---
label: 'Managing and configuring an existing feed'
related:
  - aggregator.overview
  - aggregator.creating
---
{% set aggregator_overview_link_text %}
{% trans %}Aggregator{% endtrans %}
{% endset %}
{% set aggregator_overview_link = render_var(help_route_link(aggregator_overview_link_text, 'aggregator.admin_overview')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Manage an existing feed or change its configuration.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to <em>Configuration</em> &gt; <em>Web services</em>&gt; {{ aggregator_overview_link }}.{% endtrans %}</li>
  <li>{% trans %}Click <em>Edit</em> in the <em>Operations</em> list for the feed you want to configure. Enter new values and click <em>Save</em>.{% endtrans %}</li>
  <li>{% trans %}Optionally, delete the previously-imported items from the feed by clicking <em>Delete items</em> in the <em>Operations</em> list for the feed.{% endtrans %}</li>
  <li>{% trans %}Optionally, import new items from the feed by clicking <em>Update items</em> in the <em>Operations</em> list for the feed. You can also run the site Cron process to import items into all feeds, depending on the configured <em>Update interval</em> for each feed.{% endtrans %}</li>
  <li>{% trans %}Optionally, click <em>Settings</em> to configure the settings for all feeds, including the <em>Number of items shown in listing pages</em> and how long to keep old items from feeds on your site. Click <em>Save configuration</em>.{% endtrans %}</li>
</ol>
