/**
 * @file
 * Visual styles for autocomplete input field.
 */

@import "../base/media-queries.pcss.css";

[type].form-autocomplete {
  padding-inline-end: var(--sp3);
  background-color: var(--color--white);
  background-image: url("../../images/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position: right var(--sp1) center; /* LTR */

  &:disabled {
    background-color: var(--color--gray-100);
  }

  &.ui-autocomplete-loading {
    background-image: url("../../images/throbber.svg");
  }

  &:dir(rtl) {
    background-position: left var(--sp1) center;
  }
}
