/**
 * @file
 * Inline items.
 */

.container-inline div,
.container-inline label {
  display: inline-block;
}

.form-items-inline {
  margin-block: -0.125em; /* 2px */
}

.form-items-inline > .form-item {
  display: inline-block;
  margin-block: 0.125em;
}
