/**
 * @file
 * Drop button specific styles.
 */

@import "../base/variables.pcss.css";

.dropbutton-widget {
  overflow: hidden;
  border: solid 1px var(--color--white);
  border-radius: var(--border-radius);
}

.dropbutton {
  background-color: var(--color--blue-20);
}

.js .dropbutton-widget .dropbutton {
  overflow: visible;
}

.dropbutton-action {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);

  & a {
    padding-block: var(--sp0-25);
    padding-inline-start: var(--sp1);
    padding-inline-end: var(--sp1);
    text-decoration: none;
    color: var(--color--white);

    &:hover {
      background-color: var(--color--blue-50);
    }

    &:focus {
      outline: 2px solid var(--color--blue-70);
      outline-offset: 2px;
      background-color: var(--color--blue-50);
    }
  }
}

.open .dropbutton-action:not(:last-child) {
  border-block-end: solid 1px var(--color--white);
}

.js .dropbutton-action a:focus {
  outline: 2px solid var(--color--blue-70);
}

.dropbutton-toggle {
  border-inline-start: 1px solid var(--color--white);
  background-color: var(--color--blue-20);

  &:hover {
    background-color: var(--color--blue-50);
  }

  & button:focus {
    outline: solid 2px var(--color--blue-70);
    outline-offset: 2px;
    background-color: var(--color--blue-50);
  }
}

.dropbutton-arrow {
  inset-inline: 0;
  margin-inline: auto;
  border-top-color: var(--color--white);
}

.dropbutton-multiple.open .dropbutton-arrow {
  border-bottom-color: var(--color--white);
}
