/**
 * @file
 * Visual styles for fields.
 */

@import "../base/media-queries.pcss.css";

.field:not(:last-child) {
  margin-block-end: var(--sp2);
}

.node--view-mode-teaser .field {
  margin-block-end: var(--sp);

  &:last-child {
    margin-block-end: 0;
  }

  @media (--lg) {
    margin-block-end: var(--sp2);
  }
}

.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left; /* LTR */

  /**
   * Chromium and Webkit do not yet support flow relative logical properties,
   * such as float: inline-end. However, PostCSS Logical does not compile this
   * value, so we accommodate by not using these.
   *
   * @see https://caniuse.com/mdn-css_properties_clear_flow_relative_values
   * @see https://github.com/csstools/postcss-plugins/issues/632
   */
  &:dir(rtl) {
    float: right;
  }
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-inline-end: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}
