/**
 * @file
 * Maintenance page.
 */

@import "../base/media-queries.pcss.css";

.maintenance-page {
  & .site-header__initial {
    @media (--nav) {
      flex-shrink: 0;
      width: var(--content-left);
    }
  }

  & .main-content {
    min-height: 80vh;
  }
}
.maintenance-page-icon {
  display: block;
  margin-block: var(--sp3);

  & path {
    fill: var(--color--primary-50);
  }
}
