/**
 * @file
 * Node preview container styling.
 */

@import "../base/variables.pcss.css";

.node-preview-container {
  padding-block: 0;
  padding-inline-start: var(--sp0-5);
  padding-inline-end: var(--sp0-5);
  background: var(--color--white);
  box-shadow: -36px 1px 36px rgba(0, 0, 0, 0.08); /* LTR */
}

[dir="rtl"] .node-preview-container {
  box-shadow: 36px 1px 36px rgba(0, 0, 0, 0.08);
}

body.toolbar-vertical.toolbar-tray-open .node-preview-container {
  max-width: calc(100vw - var(--toolbar-tray-vertical-width) - var(--scrollbar-width));
}

.node-preview-form-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.node-preview-backlink {
  margin-block: var(--sp0-5);
  margin-inline-start: 0;
  margin-inline-end: auto;
}
