/**
 * @file
 * User generated tables.
 */

@import "../base/media-queries.pcss.css";

.forum table,
.text-content table,
.views-table,
.draggable-table {
  margin-block-start: var(--sp2);
  margin-block-end: var(--sp2);
  border-spacing: 0;
  color: var(--color-text-neutral-medium);
  border: 0;
  border-collapse: collapse;
  font-family: var(--font-sans);
  font-size: 16px;
  line-height: var(--sp1-5);

  & caption {
    margin-block-end: var(--sp1);
    text-align: start;
    color: var(--color-text-neutral-medium);
    font-family: var(--font-serif);
    font-size: 14px;
    font-style: italic;
    line-height: var(--sp);
  }

  & tr {
    &:last-child {
      & td {
        border-block-end: 0;
      }
    }
  }

  & td,
  & th {
    padding-block: var(--sp1);
    padding-inline-start: 0;
    padding-inline-end: var(--sp1);
    vertical-align: top;
  }

  & th {
    margin-block: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    text-align: start;
    letter-spacing: 0.02em;
    color: var(--color-text-neutral-loud);
    border-block-end: 2px solid var(--color--primary-50);
    font-family: var(--font-sans);
    font-size: 14px;
    line-height: var(--sp);
  }

  & td {
    white-space: normal;
    border-block-end: 2px solid var(--color--gray-65);
  }

  & th.checkbox,
  & td.checkbox {
    text-align: center;
  }
}

.draggable-table {
  width: 100%;
}

.draggable-table .form-item {
  margin-top: 0;
}

.tablesort {
  vertical-align: middle;
}

.sticky-header {
  z-index: 0;
  margin: 0;
  border-block-end: 4px solid var(--color--primary-50);
}

/* Properly align VBO checkboxes. */
.views-field-node-bulk-form .form-item {
  margin: 0;
}
