/**
 * @file
 * Styles for tabledrag.
 */

@import "../base/variables.pcss.css";

.draggable:hover {
  background-color: var(--color--gray-95);
}

.draggable.drag {
  background-color: var(--color--gray-90);
}

.draggable.drag-previous {
  background-color: var(--color--gray-80);
}

.drag-previous a {
  color: var(--color--gray-10); /* Ensure proper contrast. */
}

a.tabledrag-handle,
.touchevents a.tabledrag-handle {
  width: 36px;
  height: 36px;
}

.draggable a.tabledrag-handle {
  margin-inline-start: 0;
}

a.tabledrag-handle .handle {
  width: var(--sp2);
  height: var(--sp2);
  margin: 0;
  background-position: 50% 5px;
}

.touchevents a.tabledrag-handle .handle {
  height: var(--sp2);
  background-position: 50% 5px;
}

.touchevents .draggable td {
  padding-block: var(--sp0-5);
  padding-inline-start: 0;
  padding-inline-end: var(--sp0-5);
}

.touchevents .draggable .menu-item__link {
  padding: 0;
}
