{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
set classes = [
'layout--onecol',
]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>
  <div class="layout-region layout-region--content">
    {{ content.content }}
  </div>
</div>
{% endif %}
