{#
/**
 * @file
 * Two column template for the block add/edit form.
 *
 * This template will be used when a block edit form specifies 'block_edit_form'
 * as its #theme callback.  Otherwise, by default, block add/edit forms will be
 * themed by form.html.twig.
 *
 * Available variables:
 * - form: The block add/edit form.
 */
#}
<div class="layout-block-list clearfix">
  <div class="layout-region block-list-primary">
    {{ form|without('place_blocks') }}
  </div>
  <div class="layout-region block-list-secondary">
    {{ form.place_blocks }}
  </div>
</div>
