{#
/**
 * @file
 * Theme override for simpletest result summaries.
 *
 * Available variables:
 * - label: An optional label to be rendered before the results.
 * - items: Pluralized summaries for each result type (number of passes, fails,
 *   exceptions, and debug messages).
 * - pass: The number of passes.
 * - fail: The number of fails.
 * - exception: The number of exceptions.
 * - debug: The number of debug messages.
 *
 * @see template_preprocess_simpletest_result_summary()
 */
#}
<div class="simpletest-{{ fail + exception == 0 ? 'pass' : 'fail' }}">
  {{ label }} {{ items|join(', ') }}
</div>
