{#
/**
 * @file
 * Theme override for the status report counter.
 *
 * Available variables:
 * - amount: The number shown on counter.
 * - text: The text shown on counter.
 * - severity: The severity of the counter.
 *
 * @ingroup themable
 */
#}
{{ amount }} {{ text }}
<a href="#{{ severity }}"><span class="visually-hidden">{{ text }} </span>Details</a>
