assets/vendor/**/*
node_modules/**/*
**/js_test_files/**/*
**/build/**/*
modules/locale/tests/locale_test.js
misc/jquery.form.js

# Ignore deliberately malformed YAML files.
modules/system/tests/fixtures/HtaccessTest/access_test.yml
modules/system/tests/themes/test_theme_libraries_empty/test_theme_libraries_empty.info.yml
tests/Drupal/Tests/Core/Asset/library_test_files/empty.libraries.yml
tests/Drupal/Tests/Core/Asset/library_test_files/invalid_file.libraries.yml
tests/Drupal/Tests/Composer/Plugin/Scaffold/fixtures/drupal-assets-fixture/assets/default.services.yml
tests/Drupal/Tests/Composer/Plugin/Scaffold/fixtures/drupal-profile/assets/profile.default.services.yml
modules/system/tests/themes/sdc_theme_test/components/bar/bar.component.yml

# Temporary until they are brought up to standards
scripts/**/*
modules/ckeditor5/webpack.config.js
misc/jquery.form.js

# Temporary until they are moved into assets/vendor
modules/navigation/assets/vendor/**/*
