# Ignore node_modules folder created when installing core's JavaScript
# dependencies.
node_modules
yarn-error.log

# Ignore overrides of core's phpcs.xml.dist and phpunit.xml.dist.
phpcs.xml
phpunit.xml

# Ignore package-lock.json that is automatically created when adding
# dependencies by users of NPMv5.
package-lock.json

# Ignore test reports
reports

# Ignore local Nightwatch settings
nightwatch.settings.json

# Ignore dotenv
.env
