assets/vendor/**/*
node_modules/**/*
**/build/**/*
**/js_test_files/**/*
**/css_test_files/**/*.css
modules/locale/tests/locale_test.js
*.yml
themes/stable9/css/core/assets/vendor/**/*.css
misc/jquery.form.js

# Temporary until they are brought up to standards
scripts/**/*
modules/ckeditor5/webpack.config.js
