# Configuration file for PHPStan static code checking, see https://phpstan.org .
# PHPStan is triggered on Drupal CI in commit-code-check.sh.
includes:
  - .phpstan-baseline.php
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:

  level: 1

  fileExtensions:
    - sh

  paths:
    - .
    - ../composer

  bootstrapFiles:
    # Load aliases.
    - lib/Drupal/Core/Serialization/Yaml.php

  excludePaths:
    # Skip sites directory.
    - ../sites
    # Skip test fixtures.
    - ../*/node_modules/*
    - */tests/fixtures/*.php
    - */tests/fixtures/*.php.gz
    # Skip Drupal 6 & 7 code.
    - scripts/dump-database-d?.sh
    - scripts/generate-d?-content.sh
    # Skip data files.
    - lib/Drupal/Component/Transliteration/data/*.php
    # Below extends on purpose a non existing class for testing.
    - modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/fruit/ExtendingNonInstalledClass.php
    - modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/custom_annotation/UsingNonInstalledTraitClass.php
    - modules/system/tests/modules/plugin_test/src/Plugin/plugin_test/custom_annotation/ExtendingNonInstalledClass.php

  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"

    # Ignore common errors for now.
    - "#Drupal calls should be avoided in classes, use dependency injection instead#"
    - "#^Plugin definitions cannot be altered.#"
    - "#^Class .* extends @internal class#"
