/**
 * @file
 * Replacement 'Reusable layout' component styles of system/admin library.
 */

.layout-container {
  margin-inline: var(--admin-space-m);

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  @media screen and (min-width: 60em) {
    margin-inline: var(--admin-space-xl);
  }
}

@media screen and (min-width: 60em) {
  .layout-row {
    margin-right: -1.5em;
    margin-left: -1.5em;
  }

  .layout-column {
    float: inline-start;
    box-sizing: border-box;
    padding-right: 1.5em;
    padding-left: 1.5em;
  }

  .layout-column--half {
    width: 50%;
  }

  .layout-column--quarter {
    width: 25%;
  }

  .layout-column--three-quarter {
    width: 75%;
  }
}
