---
label: 'Migrating, updating, and upgrading'
top_level: true
---
<h2>{% trans %}What are updating, upgrading, and migrating?{% endtrans %}</h2>
<p>{% trans %}<em>Updating</em> is the process of changing from one minor version of the software to a newer version, such as from version 8.3.4 to 8.3.5, or 8.3.5 to 8.4.0. Starting with version 8.x, you can also update to major versions 9, 10, and beyond if your add-on modules, themes, and install profiles are compatible. <em>Upgrading</em> is the process of changing from an older major version of the software to a newer version, such as from version 7 to 8. <em>Migrating</em> is the process of importing data into a site.{% endtrans %}</p>
<p>{% trans %}To upgrade a site from Drupal 6 or 7 to Drupal 8 or later, keeping the content and configuration the same, you will install the new version of the software and add-on modules and themes in a new site, and then migrate the content and other data from your old site into the new site.{% endtrans %}</p>
<h2>{% trans %}Overview of Migrating{% endtrans %}</h2>
<p>{% trans %}You can use the <em>Migration</em> group of modules to perform the migration step of upgrading from Drupal 6 or 7 to Drupal 8 or later, as well as other migrations. These modules also provide APIs that can be used by programmers to write custom software for migrations. Here are the functions of the core migration modules:{% endtrans %}</p>
<dl>
<dt>{% trans %}Migrate{% endtrans %}</dt>
<dd>{% trans %}Provides the underlying API for migrating data.{% endtrans %}</dd>
<dt>{% trans %}Migrate Drupal{% endtrans %}</dt>
<dd>{% trans %}Provides data migration from older versions of the core software into a new site.{% endtrans %}</dd>
<dt>{% trans %}Migrate Drupal UI{% endtrans %}</dt>
<dd>{% trans %}Provides a user interface for performing data migration from older versions of the core software into a new site.{% endtrans %}</dd>
</dl>
<p>{% trans %}If the source of the data you want to migrate is a different content management system, or if the data source is a site that was built using contributed modules that the core migration modules do not support, then you will also need one or more contributed or custom modules in order to migrate your data.{% endtrans %}</p>
<h2>{% trans %}Additional Resources{% endtrans %}</h2>
<ul>
<li>{% trans %}<a href="https://www.drupal.org/docs/upgrading-drupal">Upgrading Drupal</a>{% endtrans %}</li>
</ul>
