/**
 * @file
 * Styles for system messages.
 */

.messages {
  padding: 20px;
  word-wrap: break-word;
  color: inherit;
  overflow-wrap: break-word;
}
.messages--status {
  --umami-message-icon: url(/core/misc/icons/73b355/check.svg);

  border: 1px solid #cbdebc;
  background-color: #e6eee0;
}
.messages--warning {
  --umami-message-icon: url(/core/misc/icons/e29700/warning.svg);

  border: 1px solid #fae2a4;
  background-color: #fcf1d4;
}
.messages--error {
  --umami-message-icon: url(/core/misc/icons/e32700/error.svg);

  border: 1px solid #f8c8d5;
  background-color: #f9e6eb;
}
.messages--error .error {
  color: inherit;
}
.messages a {
  color: #cc2a00;
}
.messages__list {
  display: grid;
  gap: 0.769em;
  margin: 0;
  padding: 0;
  list-style: none;
}
.messages__wrapper {
  display: grid;
  gap: 1.538em;
}
drupal-umami-messages::part(heading) {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}
drupal-umami-messages::part(content) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
drupal-umami-messages::part(icon) {
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  background-image: var(--umami-message-icon);
}
