/* $Id$ */
div#toolbar a#toolbar-customize {
  float: right;
}

div#toolbar div.toolbar-shortcuts ul {
  padding: 5px 0;
  height: 40px;
  line-height: 30px;
  overflow: hidden;
  float: left;
  margin-left:5px;
}

div#toolbar div.toolbar-shortcuts ul li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 5px 10px 5px 5px;
  margin-right: 5px;
}

div#toolbar div.toolbar-shortcuts ul li a:focus,
div#toolbar div.toolbar-shortcuts ul li a:hover,
div#toolbar div.toolbar-shortcuts ul li a.active:focus {
  background: #555;
}

div#toolbar div.toolbar-shortcuts ul li a.active:hover,
div#toolbar div.toolbar-shortcuts ul li a.active {
  background: #000;
}

div#toolbar div.toolbar-shortcuts span.icon {
  float: left;
  background: #444;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.add-or-remove-shortcuts {
  padding-top: 5px;
}

div.add-or-remove-shortcuts a span.icon {
  display: block;
  width: 12px;
  background: transparent url(shortcut.png) no-repeat scroll 0 0;
  height: 12px;
  float: left;
  margin-left:8px;
}

div.add-shortcut a:hover span.icon {
  background-position: 0 -12px;
}
div.remove-shortcut a span.icon {
  background-position: -12px 0;
}
div.remove-shortcut a:hover span.icon {
  background-position: -12px -12px;
}

div.add-or-remove-shortcuts a span.text {
  float: left;
  padding-left:10px;
  display: none;
}

div.add-or-remove-shortcuts a:hover span.text {
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  background-color: #5f605b;
  display: block;
  padding-right: 6px;
  cursor: pointer;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
}

