{#
/**
 * @file
 * Theme override for a local task link.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper element.
 * - is_active: Whether the task item is an active tab.
 * - link: A rendered link element.
 * - level: The menu level where the tab is rendered.
 *
 * Note: This template renders the content for each task item in
 * menu-local-tasks.html.twig.
 *
 * @see template_preprocess_menu_local_task()
 */
#}
<li{{ attributes.addClass('tabs__tab', is_active ? 'is-active') }}>
  {{ link }}
  {% if is_active and level == 'primary' %}
    <button class="tabs__trigger" aria-label="{{ 'Tabs display toggle'|t }}" aria-expanded="false">
      <span class="tabs__trigger-icon">
        <span></span>
        <span></span>
        <span></span>
      </span>
    </button>
  {% endif %}
</li>
