{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
    <nav class="action-links">{{ content }}</nav>
  {% endif %}
{% endblock %}
