.tabs {
  box-shadow: none;
}

.tabs-wrapper,
.horizontal-tabs ul.horizontal-tabs-list {
  padding: 0 var(--gin-spacing-xs);
  margin-inline: calc(var(--gin-spacing-xs) * -1);
}

@media (min-width: 48em) {
  .tabs-wrapper,
  .horizontal-tabs ul.horizontal-tabs-list {
    padding: 0;
  }
}

.gin--dark-mode .tabs-wrapper:not(.is-horizontal) .tabs {
  border-color: #8e929c;
}

.gin--dark-mode .tabs-wrapper:not(.is-horizontal) .tabs__tab {
  border-color: #8e929c;
  background-color: var(--gin-bg-item-hover);
}

.vertical-tabs__items {
  z-index: inherit;
}

.gin--dark-mode .tabs {
  border-color: var(--gin-border-color-layer2);
}

.gin--dark-mode .tabs .tabs__tab,
.gin--dark-mode .tabs .tabs__tab.is-active {
  border-color: var(--gin-border-color-layer2);
  background-color: transparent;
}

.tabs__link,
.gin-details__summary,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
  color: var(--gin-color-text);
  font-size: var(--gin-font-size);
  font-weight: var(--gin-font-weight-semibold);
  padding-block: calc(var(--gin-spacing-l) - var(--gin-spacing-xxs));
}

.tabs__link strong,
.gin-details__summary strong,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a strong {
  font-weight: inherit;
}

.tabs__link.is-active,
.gin-details__summary[aria-expanded="true"],
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.selected a {
  font-weight: var(--gin-font-weight-semibold);
}

.is-horizontal .tabs__link:hover,
.is-horizontal .tabs__link:focus,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a:hover,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a:focus {
  color: var(--gin-color-primary);
  background: var(--gin-bg-item-hover);
}

.gin-details {
  color: var(--gin-color-text);
  border: 1px solid var(--gin-border-color);
  border-radius: var(--gin-border-m);
  box-shadow: none;
}

.gin-details__summary::after {
  border-radius: var(--gin-border-m);
}

.gin-details__summary:hover {
  color: var(--gin-color-primary);
  background-color: var(--gin-bg-item-hover);
}

.is-horizontal .tabs--primary,
.is-horizontal .tabs--secondary,
.horizontal-tabs ul.horizontal-tabs-list {
  position: relative;
}

@media (min-width: 48em) {
  .is-horizontal .tabs--primary,
  .is-horizontal .tabs--secondary,
  .horizontal-tabs ul.horizontal-tabs-list {
    overflow-x: auto;
    width: 100%;
    padding-block: 0.3125rem var(--gin-spacing-l);
    padding-inline: var(--gin-spacing-xs);
    margin-block-end: calc(var(--gin-spacing-xl) * -1);
  }

  .gin--edit-form .is-horizontal .tabs--primary,
  .gin--edit-form .is-horizontal .tabs--secondary,
  .gin--edit-form .horizontal-tabs ul.horizontal-tabs-list {
    padding-block-start: 0.4rem;
  }
}

.is-horizontal .tabs--primary::after,
.is-horizontal .tabs--secondary::after,
.horizontal-tabs ul.horizontal-tabs-list::after {
  position: absolute;
  display: block;
  width: 100%;
  max-width: calc(100% + var(--gin-spacing-xs));
  content: "";
  pointer-events: none;
  inset-block-end: 0;
  inset-inline-start: 0;
  border-block-end: 1px solid var(--gin-border-color);
}

@media (prefers-reduced-motion: no-preference) {
  .is-horizontal .tabs--primary::after,
  .is-horizontal .tabs--secondary::after,
  .horizontal-tabs ul.horizontal-tabs-list::after {
    transition: var(--gin-transition);
  }
}

@media (min-width: 48em) {
  .is-horizontal .tabs--primary::after,
  .is-horizontal .tabs--secondary::after,
  .horizontal-tabs ul.horizontal-tabs-list::after {
    inset-inline-start: var(--gin-spacing-xs);
    inset-block-end: var(--gin-spacing-l);
    max-width: calc(100% - var(--gin-spacing-m));
  }
}

.is-horizontal .tabs--primary .tabs__tab,
.is-horizontal .tabs--primary .horizontal-tab-button,
.is-horizontal .tabs--secondary .tabs__tab,
.is-horizontal .tabs--secondary .horizontal-tab-button,
.horizontal-tabs ul.horizontal-tabs-list .tabs__tab,
.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button {
  position: relative;
}

.is-horizontal .tabs--primary .tabs__tab:focus-within::after,
.is-horizontal .tabs--primary .horizontal-tab-button:focus-within::after,
.is-horizontal .tabs--secondary .tabs__tab:focus-within::after,
.is-horizontal .tabs--secondary .horizontal-tab-button:focus-within::after,
.horizontal-tabs ul.horizontal-tabs-list .tabs__tab:focus-within::after,
.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button:focus-within::after {
  position: absolute;
  z-index: 3;
  display: block;
  width: calc(100% + var(--gin-spacing-xs));
  height: 4px;
  content: "";
  background: var(--gin-bg-app);
  inset-block-end: calc(var(--gin-spacing-xxs) * -1);
  inset-inline-start: calc(var(--gin-spacing-xxs) * -1);
}

.is-horizontal .tabs--primary .horizontal-tab-button:focus-within::after,
.is-horizontal .tabs--secondary .horizontal-tab-button:focus-within::after,
.horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button:focus-within::after {
  background: var(--gin-bg-layer);
}

.horizontal-tabs ul.horizontal-tabs-list::before {
  z-index: 1;
  background: var(--gin-bg-layer);
}

.horizontal-tabs ul.horizontal-tabs-list::after {
  inset-inline-start: var(--gin-spacing-xs);
  max-width: calc(100% - var(--gin-spacing-m));
}

@media (min-width: 48em) {
  .is-horizontal .tabs--primary,
  .is-horizontal .tabs--secondary {
    margin-inline: 0;
  }
}

@media (min-width: 48em) {
  .tabs--primary {
    margin-block-end: 0;
  }
}

@media (min-width: 48em) {
  .is-horizontal .tabs--primary::after {
    border-block-end: 0 none;
  }

  .gin--high-contrast-mode .is-horizontal .tabs--primary::after {
    border-block-end: 1px solid;
  }
}

@media (max-width: 47.99em) {
  .is-horizontal .tabs--primary .tabs__tab {
    border-block-end: 1px solid var(--gin-border-color-layer2);
    background-color: var(--gin-bg-layer);
  }

  .is-horizontal .tabs--primary .tabs__tab[data-original-order="0"] {
    border-block-end: none;
  }
}

@media (min-width: 48em) {
  .is-horizontal .tabs--primary .tabs__tab:focus-within::after {
    display: none;
  }
}

.is-horizontal .tabs--primary .tabs__link {
  height: 100%;
  min-height: var(--gin-spacing-xxl);
}

@media (min-width: 48em) {
  .is-horizontal .tabs--primary .tabs__link {
    min-height: 2rem;
    margin-inline-end: 0.25em;
    border-radius: 2rem;
    font-size: var(--gin-font-size);
    padding-block: calc(var(--gin-spacing-xs) - 2px);
    padding-inline: var(--gin-spacing-s);
  }
}

@media (min-width: 48em) {
  .is-horizontal .tabs--primary .tabs__link.is-active {
    color: var(--gin-color-primary-active);
    border: 1.5px solid currentColor;
  }
}

.is-horizontal .tabs--primary .tabs__link.is-active::before {
  display: none;
}

.tabs__trigger svg {
  stroke: var(--gin-color-primary);
}

@media (min-width: 48em) {
  .is-horizontal .tabs--secondary {
    margin-block-start: var(--gin-spacing-m);
  }

  .is-horizontal .tabs--secondary::before {
    width: 100%;
  }
}

.is-horizontal .tabs--secondary .tabs__link {
  min-height: 2.5rem;
  padding-block: var(--gin-spacing-xs) var(--gin-spacing-m);
  padding-inline: var(--gin-spacing-m);
  border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;
  font-size: var(--gin-font-size-s);
}

.horizontal-tabs {
  position: static !important;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-block-start: calc(var(--gin-spacing-m) * -1);
  border: 0 none;
}

.horizontal-tabs ul.horizontal-tabs-list {
  overflow: hidden;
  border-inline-end: 0 none;
  border-block-end: 0 none;
  background: none;
}

@media (min-width: 48em) {
  .horizontal-tabs ul.horizontal-tabs-list::after {
    inset-inline-start: var(--gin-spacing-xs);
    max-width: calc(100% - var(--gin-spacing-m));
  }
}

.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button {
  border-inline-end: 0 none;
  border-block-end: 0 none;
  background: none;
}

.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
  padding-block: var(--gin-spacing-xs) var(--gin-spacing-m);
  padding-inline: var(--gin-spacing-m);
  border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;
  font-size: var(--gin-font-size-s);
}

.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a::before {
  position: absolute;
  display: block;
  content: "";
}

.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.selected a {
  color: var(--gin-color-primary);
}

.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.selected a::before {
  z-index: 1;
  border-inline: none;
  width: 100%;
  height: 3px;
  border-block-end: 3px solid var(--gin-color-primary);
  inset-block-start: auto;
  inset-block-end: 0;
  inset-inline-start: 0;
  inset-inline-end: 0;
}

.horizontal-tabs .horizontal-tabs {
  margin-block-start: var(--gin-spacing-m);
}

.horizontal-tabs .horizontal-tabs-panes,
.horizontal-tabs [data-horizontal-tabs-panes] {
  width: 100%;
}

.horizontal-tabs .horizontal-tabs-pane {
  padding: 0;
  box-shadow: none;
}

.horizontal-tabs .horizontal-tabs-pane > .details-wrapper {
  margin: 0;
}

.horizontal-tabs .horizontal-tabs-pane > .details-wrapper > .gin-details__description {
  margin-block-start: var(--gin-spacing-m);
}

.gin-details__description {
  max-width: var(--gin-max-line-length);
}

.gin-details__summary::before,
.gin-details[open] > .gin-details__summary::before {
  inset-inline-start: 1.125rem;
  background: var(--gin-color-text);
  -webkit-mask-image: url("../../media/sprite.svg#handle-view");
  mask-image: url("../../media/sprite.svg#handle-view");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

@media (forced-colors: active) {
  .gin-details__summary::before,
  .gin-details[open] > .gin-details__summary::before {
    background-color: buttonBorder;
  }
}

@media (forced-colors: active) {
  [dir="ltr"] .gin-details__summary::before {
    transform: rotate(90deg);
  }

  [dir="rtl"] .gin-details__summary::before {
    transform: rotate(-90deg);
  }
}

@media (forced-colors: active) {
  .gin-details[open] > .gin-details__summary::before {
    margin-block-start: -6px;
  }

  [dir="ltr"] .gin-details[open] > .gin-details__summary::before {
    transform: rotate(270deg);
  }

  [dir="rtl"] .gin-details[open] > .gin-details__summary::before {
    transform: rotate(-270deg);
  }
}

.gin-details__summary:hover::before,
.gin-details__summary:hover:focus::before,
.gin-details[open] > .gin-details__summary:hover::before,
.gin-details[open] > .gin-details__summary:focus::before,
.gin-details[open] > .gin-details__summary--accordion::before,
.gin-details[open] > .gin-details__summary--accordion-item::before,
.gin-details[open] > .gin-details__summary--vertical-tabs-item::before {
  background: var(--gin-color-primary);
}

@media (forced-colors: active) {
  .gin-details__summary:hover::before,
  .gin-details__summary:hover:focus::before,
  .gin-details[open] > .gin-details__summary:hover::before,
  .gin-details[open] > .gin-details__summary:focus::before,
  .gin-details[open] > .gin-details__summary--accordion::before,
  .gin-details[open] > .gin-details__summary--accordion-item::before,
  .gin-details[open] > .gin-details__summary--vertical-tabs-item::before {
    background-color: linkText;
  }
}

.gin-details__description {
  color: var(--gin-color-text-light);
}

.gin-details__wrapper--accordion,
.gin-details__wrapper--accordion-item,
.gin-details__wrapper--vertical-tabs-item {
  border-block-start: 1px solid var(--gin-border-color);
  background: var(--gin-bg-app);
}

.gin--dark-mode .gin-details,
.gin--dark-mode .gin-details__summary--accordion,
.gin--dark-mode .gin-details__summary--accordion-item,
.gin--dark-mode .gin-details__summary--vertical-tabs-item {
  background-color: transparent;
}

.gin--dark-mode .gin-details {
  border-color: var(--gin-border-color);
}

.gin--dark-mode .vertical-tabs__items {
  border: 0 none;
  background: none;
}

.gin--dark-mode .vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link {
  border-color: transparent;
  background: var(--gin-bg-app);
}

.gin--dark-mode .vertical-tabs__menu-link {
  color: var(--gin-color-text);
}

.gin--dark-mode .vertical-tabs__menu-link-summary {
  color: var(--gin-color-text-light);
}

.gin--dark-mode .vertical-tabs .gin-details__wrapper {
  background: var(--gin-bg-app);
}

.vertical-tabs__items {
  border-radius: var(--gin-border-m);
}

@media (min-width: 64em) {
  .vertical-tabs__items {
    border-start-start-radius: 0;
  }
}

.vertical-tabs__items .vertical-tabs__item {
  border-radius: 0;
}

@media (min-width: 85em) {
  .vertical-tabs__items .vertical-tabs__item {
    border-start-end-radius: var(--gin-border-m);
    border-end-end-radius: var(--gin-border-m);
    border-end-start-radius: var(--gin-border-m);
  }

  .vertical-tabs__items .vertical-tabs__item ~ .vertical-tabs__item {
    border-start-start-radius: var(--gin-border-m);
  }
}

@media (min-width: 64em) {
  .vertical-tabs__items .vertical-tabs__item .gin-details__summary {
    padding-inline-start: var(--gin-spacing-xxl);
  }

  .vertical-tabs__items .vertical-tabs__item .gin-details__summary::before {
    inset-inline-start: var(--gin-spacing-m);
  }
}

.vertical-tabs__items .vertical-tabs__item > .gin-details__wrapper {
  display: inline-block;
  width: 100%;
}

.vertical-tabs__menu-item-title {
  font-weight: var(--gin-font-weight-bold);
}

.vertical-tabs__menu-item::before,
.vertical-tabs__menu-item::after {
  border-color: var(--gin-border-color);
}

.vertical-tabs__menu-link:hover,
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover {
  color: var(--gin-color-primary);
}

.vertical-tabs__menu-link:hover::before,
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-link:hover::before {
  background: var(--gin-bg-item-hover);
}

[open] > .gin-details__summary--vertical-tabs-item:not(:focus, :active)::after,
[open] > .gin-details__summary--accordion-item:not(:focus, :active)::after {
  border-inline-start-width: 5px;
}

@media screen and (min-width: 85em) {
  html.js .vertical-tabs__item {
    float: inline-start;
    overflow: visible;
    width: 100%;
  }
}
