{#
/**
 * @file
 * Theme override for entity page title.
 *
 * This output from this template is nested within the page-title template as
 * the title variable. This allows a further refinement of the page title
 * specific to an entity.
 *
 * This template is only used if the additional entity type property
 * 'enable_page_title_template' is set to TRUE.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - title: Entity label.
 * - entity: Entity having a label field.
 * - view_mode: View mode; for example, "teaser" or "full".
 */
#}
<span{{ attributes }}>
  {{ title }}
</span>
