{#
/**
 * @file
 * Theme override to display a formatted responsive image field.
 *
 * Available variables:
 * - responsive_image: A collection of responsive image data.
 * - url: An optional URL the image can be linked to.
 *
 * @see \Drupal\responsive_image\Hook\ResponsiveImageThemeHooks::preprocessResponsiveImageFormatter()
 */
#}
{% if url %}
  <a href="{{ url }}">{{ responsive_image }}</a>
{% else %}
  {{ responsive_image }}
{% endif %}
