/* cspell:ignore wght */

.toolbar-message {
  --icon: url(../../components/toolbar-button/assets/help.svg);

  z-index: 1;
  display: flex;
  align-items: start;
  cursor: pointer;
  text-align: start;
  text-decoration: none;
  word-break: break-word;
  color: var(--admin-toolbar-color-gray-800);
  border: 0;
  border-radius: var(--admin-toolbar-space-8);
  background-color: var(--admin-toolbar-color-gray-050);
  font-size: var(--admin-toolbar-font-size-info-sm);
  line-height: var(--admin-toolbar-line-height-info-sm);
  padding-inline: calc(0.75 * var(--admin-toolbar-rem));
  padding-block: calc(0.75 * var(--admin-toolbar-rem));
  font-variation-settings: "wght" 700;
  gap: calc(0.5 * var(--admin-toolbar-rem));

  &::before {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    content: attr(data-icon-text);
    color: currentColor;
    background-image: linear-gradient(currentColor, currentColor 50%, transparent 50%);
    background-position-y: calc(100% - (100% * var(--icon, 0)));
    background-size: 100% 200%;
    font-size: calc(0.75 * var(--admin-toolbar-rem));
    inline-size: var(--admin-toolbar-space-20);
    block-size: var(--admin-toolbar-space-20);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100% auto;
    mask-image: var(--icon);
  }
}

.toolbar-message--type--error {
  --icon: url(../../assets/icons/radioactive.svg);
}

.toolbar-message--type--warning {
  --icon: url(../../assets/icons/warning.svg);
}

html:not([data-admin-toolbar="expanded"]) .toolbar-message__label {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
  opacity: 0;
}

html[data-admin-toolbar-animating][data-admin-toolbar="expanded"] .toolbar-message__label {
  display: none;
}
