{#
/**
 * @file
 * Default theme implementation for a feed icon.
 *
 * Available variables:
 * - url: An internal system path or a fully qualified external URL of the feed.
 * - icon: The rendered HTML (<img> tag) for the feed icon image.
 * - attributes: Remaining HTML attributes for the feed link.
 *   - title: A descriptive title of the feed link.
 *   - class: HTML classes to be applied to the feed link.
 *
 * @see template_preprocess_feed_icon()
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}"{{ attributes.addClass('feed-icon') }}>{{ icon }}</a>
