---
label: 'Hypertext Application Language (HAL)'
top_level: true
related:
  - core.web_services
---
<h2>{% trans %}HAL module{% endtrans %}</h2>
<p>{% trans %}Adds support for serializing content entities using the JSON version of HAL.{% endtrans %}</p>
<h2>{% trans %}What is Hypertext Application Language (HAL)?{% endtrans %}</h2>
<p>{% trans %}<a href="https://stateless.co/hal_specification.html">Hypertext Application Language (HAL)</a> is a serialization format that supports linking, which enables web applications to follow links and explore relationships between the data and content items that are provided by the web service. Serialized HAL data can be provided in either JSON or XML format.{% endtrans %}</p>
