---
label: 'Managing books'
top_level: true
---
{% set user_topic = render_var(url('help.help_topic', {'id': 'user.overview'})) %}
<h2>{% trans %}What is a book?{% endtrans %}</h2>
<p>{% trans %}A book is a structured group of content pages, arranged in a hierarchical structure called a <em>book outline</em>. A book hierarchy can be up to nine levels deep, and a book can include <em>Book page</em> content items or other content items. Every book has a default book-specific navigation block, which contains links that lead to the previous and next pages in the book and to the level above the current page in the book's structure.{% endtrans %}</p>
<h2>{% trans %}What are the permissions for books?{% endtrans %}</h2>
<p>{% trans %}The following permissions are needed to create and manage books; see <a href="{{ user_topic }}">Managing user accounts and site visitors</a> and its related topics for more about permissions.{% endtrans %}</p>
<dl>
  <dt>{% trans %}Create new books{% endtrans %}</dt>
  <dd>{% trans %}Allows users to add new books to the site.{% endtrans %}</dd>
  <dt>{% trans %}Add content and child pages to books and manage their hierarchies{% endtrans %}</dt>
  <dd>{% trans %}Allows users to add configured types of content to existing books.{% endtrans %}</dd>
  <dt>{% trans %}Administer book outlines{% endtrans %}</dt>
  <dd>{% trans %}Allows users to add <em>any</em> type of content to a book, use the book overview administration page, and rearrange the pages of a book from the book outline page.{% endtrans %}
  <dt>{% trans %}Administer site configuration (in the System module section){% endtrans %}</dt>
  <dd>{% trans %}Allows users to do many site configuration tasks, including configuring books. This permission has security implications.{% endtrans %}
  </dd>
  <dt>{% trans %}View printer-friendly books{% endtrans %}</dt>
  <dd>{% trans %}Allows users to click the <em>printer-friendly version</em> link to generate a printer-friendly display of the page, which includes pages below it in the book outline.{% endtrans %}
  </dd>
  <dt>{% trans %}<em>Book page</em> content permissions (in the Node module section){% endtrans %}</dt>
  <dd>{% trans %}Like other content types, the <em>Book page</em> content type has separate permissions for creating, editing, and deleting a user's own and any content items of this type.{% endtrans %}
  </dd>
</dl>
<h2>{% trans %}Managing books{% endtrans %}</h2>
<p>{% trans %}Book management is handled by the core Book module. The topics listed below will help you create, edit, and configure books.{% endtrans %}</p>
