<meta name="help_topic:label" content="Accessibility features"/>
<meta name="help_topic:related" content="core.ui_components"/>
<p>{% trans %}The following features of the administrative user interface may help administrative users with disabilities access your site:{% endtrans %}</p>
<dl>
  <dt>{% trans %}Disabling drag-and-drop functionality{% endtrans %}</dt>
  <dd>{% trans %}The default drag-and-drop user interface for ordering tables in the administrative interface presents a challenge for some users, including users of screen readers and other assistive technology. The drag-and-drop interface can be disabled in a table by clicking a link labeled <em>Show row weights</em> above the table. The replacement interface allows users to order the table by choosing numerical weights instead of dragging table rows.{% endtrans %}</dd>
</dl>
