---
label: 'Tracking the content of your website'
top_level: true
---
<h2>{% trans %}Tracking overview{% endtrans %}</h2>
<p>{% trans %}There are two core modules that provide tracking:{% endtrans %}</p>
<ul>
  <li>{% trans %}The core History module tracks how recently users have viewed content items, and provides a Views field and filter that can be used to show users content that they haven't yet seen.{% endtrans %}</li>
  <li>{% trans %}The core Statistics module tracks how many times content items have been viewed, and provides a popular content block and a popularity counter for content item pages.{% endtrans %}</li>
</ul>
<p>{% trans %}If you have one or more tracking modules installed on your site, see the related topics listed below for specific tasks.{% endtrans %}</p>
