---
label: 'Starting a forum discussion'
related:
  - forum.concept
---
{% set index_link_text %}{% trans %}Forums{% endtrans %}{% endset %}
{% set index_link = render_var(help_route_link(index_link_text, 'forum.index')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Post a new topic in a forum to start a discussion.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}Starting from {{ index_link }} (path: <em>/forums</em>), navigate to the forum that currently contains the topic.{% endtrans %}</li>
  <li>{% trans %}Click <em>Add new Forum topic</em>.{% endtrans %}</li>
  <li>{% trans %}Enter the topic's <em>Subject</em> and <em>Body</em>.{% endtrans %}</li>
  <li>{% trans %}Click <em>Save</em>.{% endtrans %}</li>
</ol>
