---
label: 'Locking a forum topic'
related:
  - forum.concept
---
{% set index_link_text %}{% trans %}Forums{% endtrans %}{% endset %}
{% set index_link = render_var(help_route_link(index_link_text, 'forum.index')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Lock a topic to prevent users from making any more comments.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}Starting from {{ index_link }} (path: <em>/forums</em>), navigate to the forum that currently contains the topic.{% endtrans %}</li>
  <li>{% trans %}Locate the topic within the forum, and click on the title to view the topic.{% endtrans %}</li>
  <li>{% trans %}Click <em>Edit</em>.{% endtrans %}</li>
  <li>{% trans %}Under <em>Comment settings</em>, check <em>Closed</em>.{% endtrans %}</li>
  <li>{% trans %}Click <em>Save</em>.{% endtrans %}</li>
</ol>
