---
label: 'Starting a forum discussion'
related:
  - forum.concept
---
{% set index = render_var(url('forum.index')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Post a new topic in a forum to start a discussion.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}Starting from the <a href="{{ index }}">forums page</a>, navigate to the forum where you want to post the topic.{% endtrans %}</li>
  <li>{% trans %}Click <em>Add new Forum topic</em>.{% endtrans %}</li>
  <li>{% trans %}Enter the topic's <em>Subject</em> and <em>Body</em>.{% endtrans %}</li>
  <li>{% trans %}Click <em>Save</em>.{% endtrans %}</li>
</ol>
