---
label: 'Creating threaded discussion forums'
top_level: true
---
<h2>{% trans %}What is a forum?{% endtrans %}</h2>
<p>{% trans %}A forum is nested hierarchy of discussions, where users post topics and comment on them.{% endtrans %}</p>
<h2>{% trans %}What is the forum hierarchy?{% endtrans %}</h2>
<p>{% trans %}The forum hierarchy consists of:{% endtrans %}</p>
<ul>
    <li>{% trans %}<em>Forums</em> (for example, <em>Recipes for cooking vegetables</em>){% endtrans %}</li>
    <li>{% trans %}Optional <em>containers</em> can be used to group similar forums (for example, <em>Recipes</em>). Forums can be inside containers and vice versa.{% endtrans %}</li>
    <li>{% trans %}<em>Forum topics</em> submitted by users (for example, <em>How to cook potatoes</em>), which start discussions.{% endtrans %}</li>
    <li>{% trans %}<em>Comments</em> submitted by users (for example, <em>You wash the potatoes first and then...</em>).{% endtrans %}</li>
</ul>
<p>{% trans %}The <em>forums</em> and <em>containers</em> in the hierarchy are implemented as terms in a hierarchical taxonomy vocabulary. The topics are content items posted in forums (not in containers), and replies are comments on each topic item. Deeply nested hierarchies of forums and containers are generally difficult for users to understand and navigate, so it is recommended to keep your hierarchy simple.{% endtrans %}</p>
<h2>{% trans %}Managing and using forums overview{% endtrans %}</h2>
<p>{% trans %}The core Forum module supplies a content type called <em>Forum topic</em>, along with associated comment type and taxonomy vocabulary. As with other comment types, you can configure comments on forum topics to be threaded or unthreaded. See the related topics listed below for specific tasks.{% endtrans %}</p>
