<meta name="help_topic:label" content="Writing good help"/>
<meta name="help_topic:top_level"/>
<p>{% trans %}Here are some suggestions for how to make your help topics as useful as possible for readers:{% endtrans %}</p>
<ul>
  <li>{% trans %}Choose short titles. If the topic describes a task, start with a verb in -ing form, like "Writing good help".{% endtrans %}</li>
  <li>{% trans %}Make your topics modular and short, using links to connect information together.{% endtrans %}</li>
  <li>{% trans %}Use headings and lists to organize your topics.{% endtrans %}</li>
  <li>{% trans %}Write in second person (you, your). When describing a task, use imperative mood (tell people directly what to do, such as "Enter information in the ABC field", rather than using words like "please" or more passive or declarative language like "the ABC field needs to be filled in").{% endtrans %}</li>
</ul>
