---
label: 'Tracking which content a user has visited'
related:
  - core.tracking_content
---
<h2>{% trans %}What content visits are tracked?{% endtrans %}</h2>
<p>{% trans %}The core History module tracks when each logged-in user has most recently visited each content item page on the site. This allows content to be marked as <em>new</em> or <em>updated</em> for each user, meaning that it was newly created or has been updated since the last time they visited its page. These records are kept for one month, meaning that content older than one month is never marked as new or updated.{% endtrans %}</p>
<h2>{% trans %}What options are available for using this tracking information?{% endtrans %}</h2>
<p>{% trans %}You can display the new/updated status of content by creating or editing a view. There is a <em>Has new content</em> field for <em>Content</em> views, which displays the new/updated marker. There is also a <em>Has new content</em> filter, which limits the view to new and updated content.{% endtrans %}</p>
