---
label: Reordering and disabling menu links
related:
  - menu_ui.menu_item_add
  - menu_ui.menu_operations
  - core.menus
---
{% set structure_menu = render_var(url('entity.menu.collection')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Disable menu links or change the order and hierarchy of menu links.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administration menu, navigate to <em>Structure</em> &gt; <a href="{{ structure_menu }}"><em>Menus</em></a>.{% endtrans %}</li>
  <li>{% trans %}Click <em>Edit menu</em> for the menu that you want to edit.{% endtrans %}</li>
  <li>{% trans %}Drag menu links into a new order, or check/uncheck <em>Enabled</em> to enable or disable menu links.{% endtrans %}</li>
  <li>{% trans %}Click <em>Save</em> to save your changes.{% endtrans %}</li>
</ol>
