---
label: 'Adding a new display to an existing view'
related:
  - views.overview
  - views_ui.edit
---
{% set views = render_var(url('entity.view.collection')) %}
{% set view_edit_topic = render_var(help_topic_link('views_ui.edit')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Add a new display to an existing view. This will allow you to display similar data to an existing view, using similar settings, in a new block, page, feed, etc.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}If you are not already editing your view, in the <em>Manage</em> administrative menu, navigate to <em>Structure</em> &gt; <a href="{{ views }}"><em>Views</em></a>. Find the view you want to edit, and click its <em>Edit</em> link.{% endtrans %}</li>
  <li>{% trans %}Under <em>Displays</em>, click <em>Add</em>.{% endtrans %}</li>
  <li>{% trans %}In the pop-up list, click the link for the type of display you want to add; the most common types are <em>Page</em> and <em>Block</em>. The new display will be added to your view, and you will be editing that display.{% endtrans %}</li>
  <li>{% trans %}Optionally, click the link next to <em>Display name</em> and enter a new name to be shown for this display in the administrative interface.{% endtrans %}</li>
  <li>{% trans %}Follow the steps in {{ view_edit_topic }} to edit the other settings for the display.{% endtrans %}</li>
</ol>
