/**
 * @file
 * Extends styles of the file link.
 */

.file {
  --file-offset: 0.0625rem;
  --file-font-size: var(--admin-font-size-s);
  --file-size-color: var(--admin-color-text-soft);

  min-block-size: calc(var(--admin-space-m) + var(--file-offset));
  padding-inline-start: var(--admin-space-l);
  background-repeat: no-repeat;
  background-position: left var(--file-offset);
  background-size: var(--admin-space-m) var(--admin-space-m);
  font-size: var(--file-font-size);
  line-height: calc(18rem / 16);

  &:dir(rtl) {
    background-position: right var(--file-offset);
  }
}

.file__size {
  color: var(--file-size-color);
}

.file--general,
.file--application-octet-stream {
  background-image: url(../../images/icons/files/application-octet-stream.svg);
}
.file--package-x-generic {
  background-image: url(../../images/icons/files/package-x-generic.svg);
}
.file--x-office-spreadsheet {
  background-image: url(../../images/icons/files/x-office-spreadsheet.svg);
}
.file--x-office-document {
  background-image: url(../../images/icons/files/x-office-document.svg);
}
.file--x-office-presentation {
  background-image: url(../../images/icons/files/x-office-presentation.svg);
}
.file--text-x-script {
  background-image: url(../../images/icons/files/text-x-script.svg);
}
.file--text-html {
  background-image: url(../../images/icons/files/text-html.svg);
}
.file--text-plain {
  background-image: url(../../images/icons/files/text-plain.svg);
}
.file--application-pdf {
  background-image: url(../../images/icons/files/application-pdf.svg);
}
.file--application-x-executable {
  background-image: url(../../images/icons/files/application-x-executable.svg);
}
.file--audio {
  background-image: url(../../images/icons/files/audio-x-generic.svg);
}
.file--video {
  background-image: url(../../images/icons/files/video-x-generic.svg);
}
.file--text {
  background-image: url(../../images/icons/files/text-x-generic.svg);
}
.file--image {
  background-image: url(../../images/icons/files/image-x-generic.svg);
}
