/**
 * @file
 * Extends styles of the file link.
 */

.file {
  --file-offset: 0.0625rem;
  --file-font-size: var(--admin-font-size-s);
  --file-size-color: var(--admin-color-text-soft);

  min-block-size: calc(var(--admin-space-m) + var(--file-offset));
  padding-inline-start: var(--admin-space-l);
  background-position: left var(--file-offset);
  background-size: var(--admin-space-m) var(--admin-space-m);
  font-size: var(--file-font-size);
  line-height: calc(18rem / 16);
}

.file__size {
  color: var(--file-size-color);
}
