/**
 * @file
 * Navigation layout overrides for the admin toolbar.
 */

/* cspell:ignore navigationcreate, toolsextra, xxxs */

@import "../base/media-queries.pcss.css";

:root {
  --gin-toolbar-height: 48px;
  --gin-toolbar-secondary-height: 48px;
  --gin-scroll-offset: 72px;
  --gin-toolbar-y-offset: var(--gin-toolbar-height);
  --gin-toolbar-x-offset: 0px;
  --gin-sticky-offset: 0px;
  --gin-icon-size-toolbar: 20px;

  @media (--admin-medium) {
    --gin-toolbar-height: 0px;
    --gin-toolbar-secondary-height: 52px;
    --gin-toolbar-x-offset: var(--drupal-displace-offset-left, 64px);
    --gin-scroll-offset: 130px;
    --gin-sticky-offset: var(--gin-height-sticky);
  }
}

html.admin-toolbar-expanded {
  @media (--admin-medium) {
    --gin-toolbar-x-offset: var(--drupal-displace-offset-left, 264px);
  }
}

body.gin--navigation {
  --admin-toolbar-sidebar-width: 4rem;
}

[data-admin-toolbar="expanded"] body.gin--navigation {
  --admin-toolbar-sidebar-width: 16.5rem;

  @media (--admin-toolbar-tablet) {
    --admin-toolbar-sidebar-width: calc(16.5 * var(--admin-toolbar-rem));
  }
}

:is(#extra-specificity-hack, [data-drupal-admin-styles]) {
  --admin-toolbar-font-family: var(--gin-font);
  --admin-toolbar-color-white: var(--gin-bg-layer);
  --admin-toolbar-color-gray-050: var(--gin-bg-layer2);
  --admin-toolbar-color-gray-100: var(--gin-border-color-layer);
  --admin-toolbar-color-gray-200: var(--gin-border-color-layer2);
  --admin-toolbar-color-gray-800: var(--gin-color-text);
  --admin-toolbar-color-gray-990: var(--gin-color-primary-active);
  --toolbar-button-has-active-child-color: var(--gin-color-primary);
  --toolbar-button-current-color: var(--gin-color-primary);
  --toolbar-button-focus-color: var(--gin-color-primary);
  --admin-toolbar-color-focus: var(--gin-color-focus);
  --admin-toolbar-color-expanded: var(--gin-bg-layer2);
}

/* Workspaces. */
.toolbar-button--workspaces {
  .gin--dark-mode & {
    --toolbar-button-color: #222330;
    --toolbar-button-hover-color: var(--toolbar-button-color);
    --toolbar-button-focus-color: var(--toolbar-button-color);
  }
}

.toolbar-button--workspaces--live {
  .gin--dark-mode & {
    --toolbar-button-bg: var(--gin-color-green-light);
    --toolbar-button-color: #222330;
    --toolbar-button-hover-color: var(--toolbar-button-color);
    --toolbar-button-focus-color: var(--toolbar-button-color);
    --toolbar-button-hover-bg: var(--gin-color-green-light);
    --toolbar-button-current-bg: var(--gin-color-green-light);
  }
}

:is(#extra-specificity-hack, [data-drupal-admin-styles]) {
  .toolbar-menu__link {
    &:hover {
      color: var(--gin-color-primary);
    }
  }
}
