@import "../base/media-queries.pcss.css";

.node-preview-container {
  position: sticky;
  z-index: 501;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: var(--admin-theme-toolbar-secondary-height);
  padding: 0;
  border-block-end: 1px solid var(--admin-color-border-soft);
  background: rgb(255, 255, 255, 0.98);
  font-size: var(--admin-font-size-xs);
  inset-block-start: 0;

  .gin--dark-mode & {
    background: rgb(27, 27, 29, 0.98);

    @supports (backdrop-filter: blur()) {
      background: rgb(22, 22, 23, 0.9);
    }
  }

  .gin--high-contrast-mode & {
    background: var(--admin-color-bg);
    backdrop-filter: none;
  }

  .gin--navigation & {
    width: calc(100% - var(--admin-theme-toolbar-x-offset));
    margin-inline-start: var(--admin-theme-toolbar-x-offset);
  }

  .gin-layout-container {
    box-sizing: border-box;
  }

  .node-preview-backlink,
  .node-preview-form-select label {
    color: var(--admin-color-text-soft);
  }

  .node-preview-backlink {
    all: revert;
    position: relative;
    padding-inline-start: 1.75em;
    text-decoration: none;
    color: var(--admin-color-text-soft);
    border-radius: var(--admin-radius-2xs);
    font-weight: var(--admin-font-weight-normal);

    &:hover {
      color: var(--admin-color-primary-hover);
    }

    &:active {
      color: var(--admin-color-primary-active);
    }

    &::before {
      position: absolute;
      display: inline-block;
      width: var(--admin-icon-size-toolbar-secondary);
      height: var(--admin-icon-size-toolbar-secondary);
      content: "";
      transform: translateY(-50%);
      background-color: var(--admin-color-icon);
      inset-block-start: calc(50% - 1px);
      inset-inline-start: 0;
      /* cspell:disable-next-line */
      mask-image: url("../../migration/media/icons/toolbar-meta/backtosite.svg");
      mask-size: 100% 100%;
      mask-position: center center;
    }

    &:dir(rtl)::before {
      scale: -1 1;
    }
  }

  .form-item {
    all: revert;
  }

  .form-item__label {
    margin: 0;
    color: var(--admin-color-text-loud);
    font-size: var(--admin-font-size-s);
    font-weight: var(--admin-font-weight-normal);
  }

  .form-element {
    all: revert;
    box-sizing: border-box;
    color: var(--admin-color-text);
    border: 1px solid var(--admin-color-border-input);
    border-radius: var(--admin-radius-s);
    background-color: var(--admin-color-bg-input);
    font-size: var(--admin-font-size-s);
    line-height: 1.5;

    @media (prefers-reduced-motion: no-preference) {
      transition: var(--admin-transition);
    }
  }

  .js-hide {
    display: none;
  }

  *:focus {
    outline: none;
    box-shadow:
      0 0 0 1px var(--admin-color-focus-border),
      0 0 0 4px var(--admin-color-focus);
  }

  @supports (backdrop-filter: blur()) {
    opacity: 0.999;
    /* Fix Chrome issue with mask */
    background: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(12px);
  }
}

.node-preview-form-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 var(--admin-space-m);
  padding: var(--admin-space-s) 0;

  label {
    padding-inline-end: 0.5em;
  }

  @media (--admin-small) {
    margin: 0 var(--admin-space-xl);
  }

  @media (--admin-medium) {
    margin: 0 min(5vw, var(--admin-space-2xl));
  }
}
