.system-themes-list {
  margin-block-end: var(--admin-space-l);
}

#system-themes-page {
  hr {
    display: none;
  }
}

.system-themes-list__header {
  padding: var(--admin-space-m) var(--admin-space-l);
  text-transform: none;
  color: var(--admin-color-primary-active);
  border: 0 none;
  border-radius: var(--admin-radius-m);
  background: var(--admin-color-bg-header);
  font-size: var(--admin-font-size-l);
  font-weight: var(--admin-font-weight-bold);
  margin-block: 0 var(--admin-space-m);
  margin-inline: 0;
}
