/**
 * @file
 * Visual styles for views exposed form.
 */

@import "../base/media-queries.pcss.css";

.views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: var(--admin-space-xs) var(--admin-space-s) var(--admin-space-s);
  border: 1px solid var(--admin-color-border-soft);
  border-radius: var(--admin-radius-l);
  background: var(--admin-color-bg-surface);
  box-shadow: var(--admin-shadow-1);
  margin-block: 0 var(--admin-space-l);

  /* Remove extra spacing on top of form. */
  > .form-wrapper:first-of-type .form-item,
  .layout-region-node-main > .form-wrapper:first-of-type .form-item {
    margin-block-start: 0;
  }

  .gin--dark-mode & {
    box-shadow: 0 6px 16px var(--admin-color-border-soft);
  }

  .gin--high-contrast-mode & {
    box-shadow: none;
  }

  .form-element--type-select {
    max-width: 240px;
  }

  .form-type--boolean .form-boolean {
    margin-inline-start: 0;
    margin-inline-end: var(--admin-space-xs);
  }

  /* Single on/off checkbox (through Better Exposed Filters) */
  .form-type--boolean.form-type--checkbox {
    margin-block-start: auto;
    margin-block-end: var(--admin-space-s);

    .form-item__label {
      margin-block-end: 0;
    }
  }

  .fieldset--group {
    margin-block-start: var(--admin-space-s);
  }

  /* Exposed filter with fieldgroup */
  fieldset {
    margin-block-end: 0.4rem;
    margin-inline-end: var(--admin-space-s);

    > .fieldset__legend > .fieldset__label {
      margin-block-end: var(--admin-space-2xs);
      padding: 0 var(--admin-space-xs);
      font-size: var(--admin-font-size-s);
    }

    .fieldset__wrapper {
      display: flex;
      margin: 0;
      margin-inline-start: var(--admin-space-xs);
    }

    .form-item {
      margin-block: 0 var(--admin-space-xs);
      margin-inline: 0 var(--admin-space-xs);
    }
  }

  .form-datetime-wrapper {
    margin-block-end: 0;
    margin-inline-end: var(--admin-space-xs);
  }

  @media (--admin-small) {
    padding: var(--admin-space-xs) var(--admin-space-l) var(--admin-space-l);
  }
}

.views-exposed-form--preview {
  border-color: var(--admin-color-border);
  border-radius: var(--admin-radius-l);
  background: none;
}

.views-exposed-form__item {
  max-width: 100%;
  margin-block: var(--admin-space-s) 0;
  margin-inline: 0 var(--admin-space-xs);
}

.views-exposed-form__item--preceding-actions {
  margin-inline-end: var(--admin-space-xs);
}

.views-exposed-form__item--actions .button {
  margin-block: 0;

  &:last-child {
    margin-inline-end: 0;
  }
}

.views-exposed-form .form-item--no-label,
.views-exposed-form__item.views-exposed-form__item--actions {
  margin-block: var(--admin-space-s) 0;
  align-self: flex-end;
}
