{#
/**
 * @file
 * Default theme implementation for the message about disabling the overlay.
 *
 * Available variables:
 * - profile_link: The link to this user's account.
 * - dismiss_link: The link to dismiss the overlay.
 *
 * @see template_preprocess_overlay_disable_message()
 *
 * @ingroup themeable
 */
#}
<div id="overlay-disable-message" class="clearfix">
  <h3 class="visually-hidden">{{ 'Options for the administrative overlay'|t }}</h3>
  {{ profile_link }} {{ dismiss_link }}
</div>
