{#
/**
 * @file
 * Test that comments still work with the form above instead of below.
 *
 * @see \Drupal\Tests\big_pipe\FunctionalJavascript\BigPipeRegressionTest::testCommentForm_2698811()
 */
#}
<section{{ attributes }}>
  {{ comment_form }}

  {{ comments }}
</section>
