{#
/**
 * @file
 * Default theme implementation for a views "more" link.
 *
 * Available variables:
 * - view: The view object.
 * - more_url: The URL for the views "more" link.
 * - link_text: The text for the views "more" link.
 *
 * @ingroup themeable
 */
#}
<a href="{{ more_url }}" class="more-link">{{ link_text }}</a>
