{#
/**
 * @file
 * Theme override for a form element in config_translation.
 *
 * Available variables:
 * - element: Array that represents the element shown in the form.
 *   - source: The source of the translation.
 *   - translation: The translation for the target language.
 *
 * @see template_preprocess()
 */
#}
<div class="translation-set layout-row clearfix">
  <div class="layout-column layout-column--half translation-set__source">
    {{ element.source }}
  </div>
  <div class="layout-column layout-column--half translation-set__translated">
    {{ element.translation }}
  </div>
</div>
