/**
 * @file toolbar.icons-rtl.css
 */
.toolbar .icon {
  padding-left: 1.3333em;
  padding-right: 2.75em;
}
.toolbar .icon:before {
  left: auto;
  right: 0.6667em;
}
.toolbar .menu ul .icon {
  padding-left: 0;
  padding-right: 1.3333em;
}
.toolbar .vertical .menu ul {
  margin-left: 0;
  margin-right: 1.5em;
}
.toolbar .vertical .menu ul ul {
  margin-left: 0;
  margin-right: 0.75em;
}

@media only screen and (min-width: 16.5em) {
  .toolbar .bar .icon:before {
    background-size: auto auto;
    left: auto;
    right: 0;
  }
}

@media only screen and (min-width: 36em) {
  .toolbar .bar .icon {
    background-position: right center;
    padding-left: 1.3333em;
    padding-right: 2.75em;
  }
  .toolbar .bar .icon:before {
    left: 0;
    right: 0.6667em;
  }
}
