/**
 * @file toolbar.theme-rtl.css
 */

/**
 * Toolbar bar.
 */
.toolbar .bar {
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.3333);
}
/**
 * Toolbar tray.
 */
 .toolbar .horizontal {
  box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
}
.toolbar .horizontal > .lining {
  padding-right: 0;
  padding-left: 5em;
}
.toolbar .vertical > .lining,
.toolbar .vertical > .lining:before {
  border-left: 1px solid #aaaaaa;
  border-right: 0 none;
}
.toolbar .vertical > .lining:before {
  box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3333);
}
.toolbar .horizontal .menu li + li {
  border-left: 0 none ;
  border-right: 1px solid #dddddd;
}
.toolbar .horizontal .menu li:last-child {
  border-left: 1px solid #dddddd;
}
.toolbar .vertical .menu .menu .menu {
  margin-left: 0;
  margin-right: 1.3333em;
}
.toolbar .vertical .menu .menu .menu .menu {
  margin-left: 0;
  margin-right: 0.25em;
}
.toolbar .vertical .menu .menu .menu a {
  padding-left: 0;
  padding-right: 0.5em;
}

/**
 * Orientation toggle.
 */
.toolbar .horizontal .toggle-orientation {
  border-left: 0 none;
  border-right: 1px solid #c9c9c9;
}
.toolbar .toggle-orientation > .lining {
  float: left;
}
.toolbar .toggle-orientation button:before {
  left: auto;
  right: 0;
}
.toolbar .toggle-orientation [value="vertical"]:before {
  background-image: url('../images/icon-toggle-vertical-rtl.png'); /* LTR */
}
