/**
 * @file toolbar.menu-rtl.css
 */
.toolbar .vertical .handle + a {
  margin-left: 3em;
  margin-right: 0;
}

/**
 * Handle.
 */
.toolbar .icon.handle {
  left: 0;
  right: auto;
}
.toolbar .icon.handle:before {
  left: auto;
  right: 0;
}
