/**
 * @file
 * Inline items.
 */

.container-inline .form-radios label:after,
.container-inline .form-checkboxes label:after {
  content: "";
}
.container-inline .form-radios .form-type-radio,
.container-inline .form-checkboxes .form-type-checkbox {
  margin-right: 1em;
}
[dir="rtl"] .container-inline .form-radios .form-type-radio,
[dir="rtl"] .container-inline .form-checkboxes .form-type-checkbox {
  margin-right: 0;
  margin-left: 1em;
}
