<a class="read-more {{ extra_classes }}" href="{{ url }}">
  {{ text }}
  <span class="visually-hidden">
    - {{ a11y }}
  </span>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 600" class="read-more__icon">
    <path fill="none" d="M159.19 117.37v365.26L341.82 300 159.19 117.37z"/>
    <path fill="#008068" d="M341.82 300L159.19 482.63v98.99L440.81 300 159.19 18.38v98.99L341.82 300z"/>
  </svg>
</a>
