<div class="layout-form clearfix">
  <div class="layout-region layout-region--main">
    <div class="layout-region__content">
      {% block main %}
      {% endblock %}
    </div>
  </div>
  <div class="layout-region layout-region--secondary">
    <div class="layout-region__content">
      {% block secondary %}
      {% endblock %}
    </div>
  </div>
  <div class="layout-region layout-region--footer">
    <div class="layout-region__content">
      {% block footer %}
      {% endblock %}
    </div>
  </div>
</div>
