/**
 * @file
 * Generic base styles for edit module.
 *
 * Note: every class is prefixed with "edit-" to prevent collisions with modules
 * or themes. In Edit module-specific DOM subtrees, this is not necessary.
 */

/**
 * Editable.
 */
.edit-editable {
  z-index: 98;
  position: relative;
  cursor: pointer;
}
.edit-editable:focus {
  outline: none;
}

/**
 * Highlighted (hovered) editable.
 */
.edit-editable.edit-highlighted {
  z-index: 99;
}
.edit-validation-errors > .messages {
  margin-left: 0;
  margin-right: 0;
}
.edit-validation-errors > .messages > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * In-place editors that don't use a popup.
 */
.edit-validation-errors {
  z-index: 300;
  position: relative;
}
.edit-validation-errors .messages.error {
  position: absolute;
  top: 6px;
  left: -5px; /* LTR */
  margin: 0;
  border: none;
}
[dir="rtl"] .edit-validation-errors .messages.error {
  left: auto;
  right: -5px;
}

/**
 * Styling specific to the 'form' in-place editor.
 */
#edit_backstage {
  display: none;
}
.edit-form {
  position: absolute;
  z-index: 300;
  max-width: 35em;
}
.edit-form .placeholder {
  min-height: 22px;
}

/**
 * Default form styling overrides.
 */
.edit-form .form-wrapper .form-wrapper {
  margin: inherit;
}
.edit-form .form-actions {
  display: none;
}
.edit-form input {
  max-width: 100%;
}

/**
 * Entity toolbar.
 */
.edit-toolbar-container {
  max-width: 100%;
  position: absolute;
  max-width: 320px;
  width: 320px;
  z-index: 100;
}
.edit-toolbar-container > .edit-toolbar-pointer,
.edit-toolbar-container > .edit-toolbar-lining {
  display: none;
}
.edit-form-container {
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  z-index: 100;
}
.edit-toolgroup.ops {
  float: right; /* LTR */
}
[dir="rtl"] .edit-toolgroup.ops {
  float: left;
}
.edit-toolbar-label {
  overflow: hidden;
}
#edit-toolbar-fence {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: -1;
}
