/* $Id: comment.css,v 1.4 2007/07/24 21:33:53 goba Exp $ */

.indented {
  margin-left: 25px; /* LTR */
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}
