/**
* @file media_library.module.css
*/

.media-library-page-form {
  display: flex;
  flex-wrap: wrap;
}

.media-library-page-form > .form-actions {
  flex-basis: 100%;
}

.media-library-page-form__header > div,
.media-library-view .form--inline {
  display: flex;
  flex-wrap: wrap;
}

.media-library-page-form__header {
  flex-basis: 100%;
}

.media-library-item {
  position: relative;
}

.media-library-item .js-click-to-select__trigger {
  overflow: hidden;
  cursor: pointer;
}

.media-library-view .form-actions {
  align-self: flex-end;
}

.media-library-item .js-click-to-select__checkbox {
  position: absolute;
  display: block;
  z-index: 1;
  top: 5px;
  right: 0;
}

.media-library-item__status {
  position: absolute;
  top: 10px;
  left: 2px;
  pointer-events: none;
}

.media-library-select-all {
  flex-basis: 100%;
}

@media screen and (max-width: 600px) {
  .media-library-view .form-actions {
    flex-basis: 100%;
  }
}
