/**
 * @file
 * RTL styling for contextual module.
 */

/**
 * Contextual links wrappers.
 */
.contextual {
  left: 0;
  right: auto;
}

/**
 * Contextual trigger.
 */
.contextual .trigger {
  float: left;
  right: auto;
  left: 2px;
}

/**
 * Contextual links.
 */
.contextual-region .contextual .contextual-links {
  border-radius: 0 4px 4px 4px;
  float: left;
  left: 2px;
  right: auto;
  text-align: right;
}
