
/**
 * @file
 * Generic base styles for contextual module.
 */

.contextual-region {
  position: relative;
}
.touch .contextual .trigger {
  display: block;
}
.contextual .contextual-links {
  display: none;
}
.contextual-links-active .contextual-links {
  display: block;
}

/**
 * The .element-focusable class extends the .element-invisible class to allow
 * the element to be focusable when navigated to via the keyboard.
 *
 * Add support for hover.
 */
.touch .contextual-region .element-invisible.element-focusable,
.contextual-region:hover .element-invisible.element-focusable  {
  clip: auto;
  overflow: visible;
  height: auto;
}
/* Override the position for contextual links. */
.contextual-region .element-invisible.element-focusable:active,
.contextual-region .element-invisible.element-focusable:focus,
.contextual-region:hover .element-invisible.element-focusable,
.contextual-region-active .element-invisible.element-focusable,
.touch .contextual-region .element-invisible.element-focusable  {
  position: relative !important;
}
