/**
 * @file
 * Styling for contextual module.
 */

/**
 * Contextual links wrappers.
 */
.contextual {
  position: absolute;
  right: 0; /* LTR */
  top: 2px;
  z-index: 999;
}
.contextual-region-active {
  outline: 1px dashed #d6d6d6;
  outline-offset: 1px;
}

/**
 * Contextual trigger.
 */
.contextual .trigger {
  background: transparent url("images/gear-select.png") no-repeat 2px 0;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  /* Override the .element-focusable height: auto */
  height: 18px !important;
  float: right; /* LTR */
  margin: 0;
  overflow: hidden;
  padding: 0 2px;
  position: relative;
  width: 34px;
  text-indent: -9999px;
  z-index: 2;
}
.no-touch .contextual .trigger:hover,
.contextual-links-active .trigger {
  background-position: 2px -18px;
}
.contextual-links-active .trigger {
  background-color: #fff;
  border-bottom: none;
  border-color: #d6d6d6;
}

/**
 * Contextual links.
 *
 * The following selectors are heavy to discourage theme overriding.
 */
.contextual-region .contextual .contextual-links {
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 4px 0 4px 4px; /* LTR */
  clear: both;
  float: right; /* LTR */
  margin: 0;
  padding: 0.25em 0;
  position: relative;
  text-align: left; /* LTR */
  top: -1px;
  white-space: nowrap;
  z-index: 1;
}
.contextual-region .contextual .contextual-links li {
  background-color: #fff;
  border: none;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  line-height: 100%;
}
.contextual-region .contextual .contextual-links a {
  background-color: #fff;
  /* This is an unforetunately necessary use of !important to prevent white
   * links on a white background or some similar illegible combination. */
  color: #333 !important;
  display: block;
  font-family: sans-serif;
  font-size: small;
  line-height: 0.8em;
  margin: 0.25em 0;
  padding: 0.4em 0.6em;
}
.contextual-region .contextual .contextual-links a,
.contextual-region .contextual .contextual-links a:hover {
  text-decoration: none;
}
.no-touch .contextual-region .contextual .contextual-links li a:hover {
  background-color: #bfdcee;
}
