/**
 * @file
 * Styles for the administration page.
 */

#translation-entity-admin-settings-form table .bundle {
  width: 25%;
}

#translation-entity-admin-settings-form table .field {
  width: 25%;
}

#translation-entity-admin-settings-form table .translatable {
  width: 10%;
}

#translation-entity-admin-settings-form table .operations {
  width: 40%;
}
