/* $Id$ */

.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}
/* Override the default multiselect layout in system.css. */
#node-admin-content dl.multiselect dd.b, dl.multiselect dd.b .form-item {
  width: 20em; /* 6em label + 14em select */
}
#node-admin-content dl.multiselect dd.b .form-item label {
  display: block;
  float: left; /* LTR */
  width: 6em;
  font-weight: normal;
}
#node-admin-buttons {
  float: left; /* LTR */
  margin-left: 0.5em; /* LTR */
  clear: right; /* LTR */
}
td.revision-current {
  background: #ffc;
}
.node-form .form-text {
  display: block;
  width: 95%;
}
.node-form .container-inline .form-text {
  display: inline;
  width: auto;
}
.node-form .standard {
  clear: both;
}
.node-form textarea {
  display: block;
  width: 95%;
}
.node-form .attachments fieldset {
  float: none;
  display: block;
}
.terms-inline {
  display: inline;
}

