
/**
 * @file
 * Base stylesheet for the Poll module.
 */

.poll {
  overflow: hidden;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.poll .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
