/**
 * @file
 * This file is used to style the more link.
 */

.read-more__link {
  box-sizing: border-box;
  background-color: inherit;
  position: relative;
  display: inline-block;
  padding-right: 20px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.read-more__link:focus,
.read-more__link:hover {
  background-color: inherit;
  text-decoration: none;
  color: #00836d;
  border-bottom: 1px solid #00836d;
}

.read-more__link:before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 14px;
  height: 14px;
  margin-top: -7px;
  content: "";
  background-image: url("../../../../images/svg/pointer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}
