/*
 * @file
 * Provides the layout styles for four-column layout section.
 */

@import "../base/media-queries.pcss.css";

.layout--fourcol-section {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: var(--layout-fourcol-grid);
}

/* Two column layout. */
@media (--md) {
  .layout--fourcol-section {
    --layout-fourcol-grid: repeat(2, minmax(0, 1fr));
  }
}

/* Four column layout. */
@media (--lg) {
  .layout--fourcol-section {
    --layout-fourcol-grid: repeat(4, minmax(0, 1fr));
  }
}
