/**
 * @file
 * Base Layout.
 */

@import "../base/variables.pcss.css";

.container {
  width: 100%;
  max-width: var(--max-width);
  padding-inline: var(--container-padding);

  @media (--nav) {
    padding-inline: var(--container-padding-nav);
  }
}

.page-wrapper {
  max-width: var(--max-bg-color);
  background: var(--color--white);
}

/**
 * Creates stacking context ensuring that child elements can never appear in
 * front of mobile navigation.
 */
.layout-main-wrapper {
  position: relative;
  z-index: 1;
}

/* Contains the social sidebar, and the primary content area. */
.layout-main {
  @media (--nav) {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
}

.main-content {
  @media (--nav) {
    width: calc(100% - var(--content-left));
    margin-inline-end: auto;
  }
}

.main-content__container {
  padding-block-start: var(--sp3);

  @media (--md) {
    padding-block-start: var(--sp5);
  }
}
