/**
 * @file
 * Styles for views.
 */

@import "../base/media-queries.pcss.css";

.view,
.view-content {
  display: grid;
  gap: var(--sp2);
  grid-template-rows: max-content;

  @media (--md) {
    gap: var(--sp3);
  }
}
