/* $Id: ie6.css,v 1.6 2010/04/28 20:08:39 dries Exp $ */

ul.menu li,
ul.menu li a,
ul.links li,
ul.links li a,
.action-links,
#page {
  height: 1%;
}
#block-system-main ul.node-type-list li a,
#block-system-main ul.admin-list li a {
  height: 1px;
  position: relative;
  display: block;
}
#block-system-main ul.node-type-list li div.description a,
#block-system-main ul.admin-list li div.description a {
  display: inline;
}
