/**
 * @file
 * Default style for file module.
 */

/* File icons. */

.file {
  display: inline-block;
  min-height: 16px;
  padding-left: 20px; /* LTR */
  background-repeat: no-repeat;
  background-position: left center; /* LTR */
}
[dir="rtl"] .file {
  padding-right: 20px;
  padding-left: inherit;
  background-position: right center;
}
.file--general,
.file--application-octet-stream {
  background-image: url(../../../images/classy/icons/application-octet-stream.svg);
}
.file--package-x-generic {
  background-image: url(../../../images/classy/icons/package-x-generic.svg);
}
.file--x-office-spreadsheet {
  background-image: url(../../../images/classy/icons/x-office-spreadsheet.svg);
}
.file--x-office-document {
  background-image: url(../../../images/classy/icons/x-office-document.svg);
}
.file--x-office-presentation {
  background-image: url(../../../images/classy/icons/x-office-presentation.svg);
}
.file--text-x-script {
  background-image: url(../../../images/classy/icons/text-x-script.svg);
}
.file--text-html {
  background-image: url(../../../images/classy/icons/text-html.svg);
}
.file--text-plain {
  background-image: url(../../../images/classy/icons/text-plain.svg);
}
.file--application-pdf {
  background-image: url(../../../images/classy/icons/application-pdf.svg);
}
.file--application-x-executable {
  background-image: url(../../../images/classy/icons/application-x-executable.svg);
}
.file--audio {
  background-image: url(../../../images/classy/icons/audio-x-generic.svg);
}
.file--video {
  background-image: url(../../../images/classy/icons/video-x-generic.svg);
}
.file--text {
  background-image: url(../../../images/classy/icons/text-x-generic.svg);
}
.file--image {
  background-image: url(../../../images/classy/icons/image-x-generic.svg);
}
