---
label: 'Creating a book'
related:
  - book.about
  - book.adding
  - book.organizing
  - book.configuring
---
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Create a new book.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to <em>Content</em> &gt; <em>Add content</em> &gt; <em>Book page</em>. If you have configured additional content types that can be added to books, you can substitute a different content type for <em>Book page</em>.{% endtrans %}</li>
  <li>{% trans %}Enter a title for the book, and if desired, some text for the body of the book's title page.{% endtrans %}</li>
  <li>{% trans %}In the vertical tabs area, click <em>Book Outline</em>. Select <em>- Create a new book -</em> from the <em>Book</em> select list.{% endtrans %}</li>
  <li>{% trans %}Click <em>Save</em> to create the book.{% endtrans %}</li>
</ol>
