---
label: 'Configuring content language settings and translation'
related:
  - core.translations
  - language.add
---
{% set translation_settings_link_text %}{% trans %}Content language and translation{% endtrans %}{% endset %}
{% set translation_settings_link = render_var(help_route_link(translation_settings_link_text, 'language.content_settings_page')) %}
{% set content_structure_topic = render_var(help_topic_link('core.content_structure')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Configure language and translation settings for one or more content entity types (see {{ content_structure_topic }} for an overview of content entities). To do this, you must have at least two languages configured. Afterwards, you will have a <em>Translate</em> operation available for your content entities, either as a tab or link when you are viewing or editing content, or on content administration pages.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to <em>Configuration</em> &gt; <em>Region and language</em> &gt; <em>{{ translation_settings_link }}</em>.{% endtrans %}</li>
  <li>{% trans %}Under <em>Custom language settings</em>, find the content entity types that should have customized language settings on your site. Check the box next to each one. A section will appear below the list with settings for that entity type.{% endtrans %}</li>
  <li>{% trans %}For each entity type you checked, in the settings section below check the boxes for each entity sub-type that should be <em>Translatable</em> on your site. If the entity type does not have sub-types, there is just one check box for the entity type as a whole.{% endtrans %}</li>
  <li>{% trans %}For each entity type or subtype, select the <em>Default language</em>. Also, if you want to have languages other than the default available when you create content, check <em>Show language selector on create and edit pages</em>.{% endtrans %}</li>
  <li>{% trans %}For each <em>Translatable</em> type or sub-type, look through the list of fields for the type or sub-type, and verify that only the fields that should be translatable are checked. For example, you would probably want to translate a <em>Title</em> field, but you might not want to translate a <em>Start date</em> field.{% endtrans %}</li>
  <li>{% trans %}Click <em>Save configuration</em> when all of your changes are complete.{% endtrans %}</li>
</ol>
