---
label: 'Managing menus'
top_level: true
related:
  - block.place
---
<h2>{% trans %}What is a menu?{% endtrans %}</h2>
<p>{% trans %}A menu is a collection of <em>menu links</em> used to navigate a web site. Menus and menu links can be provided by modules or site administrators.{% endtrans %}</p>
<h2>{% trans %}Managing menus overview{% endtrans %}</h2>
<p>{% trans %}The core Menu UI module provides a user interface for managing menus, including creating new menus, reordering menu links, and disabling links provided by modules. It also provides the ability for links to content items to be added to menus while editing, if configured on the content type. The core Custom Menu Links module provides the ability to add custom links to menus. Each menu can be displayed by placing a block in a theme region; some themes also can display a menu outside of the block system. See the related topics listed below for specific tasks.{% endtrans %}</p>
<h2>{% trans %}Additional Resources{% endtrans %}</h2>
<ul>
  <li>{% trans %}<a href="https://www.drupal.org/docs/user_guide/en/menu-concept.html">Concept: Menu (Drupal User Guide)</a>{% endtrans %}</li>
</ul>
