---
label: 'Importing a translation file'
related:
- core.translations
- locale.translation_status
- locale.translate_strings
---
{% set import_text %}{% trans %}Import{% endtrans %}{% endset %}
{% set import_link = render_var(help_route_link(import_text, 'locale.translate_import')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Import a file (.po extension) containing translations for user interface text.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to <em>Configuration</em> &gt; <em>Region and language</em> &gt; <em>User interface translation</em> &gt; {{ import_link }}.{% endtrans %}</li>
  <li>{% trans %}Browse to find the <em>Translation file</em> you want to import. Select the language and check the desired import options.{% endtrans %}</li>
  <li>{% trans %}Click <em>Import</em> and wait for your file to be imported.{% endtrans %}</li>
</ol>
