---
label: 'Modifying or deleting a user account'
related:
  - user.security_account_settings
  - user.overview
---
{% set people_link_text %}{% trans %}People{% endtrans %}{% endset %}
{% set people_link = render_var(help_route_link(people_link_text, 'entity.user.collection')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Update or delete an existing user account.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to <em>{{ people_link }}</em>.{% endtrans %}</li>
  <li>{% trans %}Enter all or part of the user name or email address of the user account you want to update or delete, and click <em>Filter</em>. A short list of user accounts, including the account of interest, should be shown in the table; if not, modify the filter text until you can find the account of interest.{% endtrans %}</li>
  <li>{% trans %}Click <em>Edit</em> in the <em>Operations</em> area of the account of interest.{% endtrans %}</li>
  <li>{% trans %}To delete the user account, scroll to the bottom and click <em>Cancel account</em>. Select what you want to happen to the user's content on the next screen, and click <em>Cancel account</em>.{% endtrans %}</li>
  <li>{% trans %}To update the user account, enter new values in the form and click <em>Save</em>.{% endtrans %}</li>
</ol>
