{#
/**
 * @file
 * Theme override for wrapping content with RDF attributes.
 *
 * Available variables:
 * - content: The content being wrapped with RDF attributes.
 * - attributes: HTML attributes, including RDF attributes for wrapper element.
 */
#}
<span{{ attributes }}>{{ content }}</span>
