/**
 * @file
 * Styling for the shortcut module.
 */

/**
 * Toolbar.
 */
.icon-shortcut:before {
  background-image: url(../images/shortcut.png);
}
.icon-shortcut:active:before,
.icon-shortcut.active:before {
  background-image: url(../images/shortcut-active.png);
}
.toolbar .tray.horizontal.shortcuts .menu {
  float: left;
}
.edit-shortcuts {
  display: block;
}
.toolbar .vertical .edit-shortcuts {
  text-align: right;
  padding: 1em;
}
.toolbar .horizontal .edit-shortcuts {
  float: left; /* LTR */
}

/**
 * Add/remove links.
 */
.add-or-remove-shortcuts .icon {
  background: transparent url(../images/shortcut-add.png) no-repeat;
  height: 12px;
  margin-left: 8px; /* LTR */
  overflow: hidden;
  text-indent: 12px;
  width: 12px;
}
.add-shortcut a:focus .icon,
.add-shortcut a:hover .icon {
  background-position: 0 -12px; /* LTR */
}
.remove-shortcut .icon {
  margin-top: 4px;
  background-position: -12px 0;
}
.remove-shortcut a:focus .icon,
.remove-shortcut a:hover .icon {
  background-position: -12px -12px; /* LTR */
}
