/**
 * @file field_ui_add_field.module.css
 */

.field-ui-field-storage-add-form {
  --option-padding: 0.625rem;
  --suboption-padding: 1rem;

  max-width: 80rem;
}

.field-ui-new-storage-wrapper {
  margin-bottom: 0.75rem;
}

.field-option__item {
  display: grid;
  grid-template-rows: auto 2fr;
  grid-template-columns: auto 2rem;
  width: 100%;
  margin: 0;
}
.field-option__item label,
.field-option__item div {
  grid-column: 1;
}
.field-option__item input {
  grid-row: 1 / span 2;
  grid-column: 2;
  margin-block: auto;
  margin-left: 7px;
}

.field-option__thumb {
  width: 4.5rem;
  min-height: 2em;
  margin-block: calc(var(--option-padding) / -2);
  margin-inline: calc(var(--option-padding) / -2) 0.75rem;
  background: var(--color-gray-050, #f3f4f9);
}

.group-field-options-wrapper {
  margin-block: 1.5em;
}

.field-option {
  display: flex;
  margin-block: 10px;
  padding: var(--option-padding);
  border: 1px solid var(--color-gray-100, #dedfe4);
  border-radius: 4px;
}

.subfield-option {
  margin-block: 0.625rem;
  padding: 1rem;
  padding-inline-end: 2rem;
  border: 1px solid var(--color-gray-200, #d3d4d9);
  border-radius: 4px;
}
.subfield-option .item-list ul {
  margin-inline: 0;
}

.field-option:has(.field-option-radio:checked),
.subfield-option:has(.field-option-radio:checked) {
  border: 3px solid var(--color-blue-600, #003ecc);
}

.field-option:has(.field-option-radio:checked) {
  padding: calc(var(--option-padding) - 2px);
}
.subfield-option:has(.field-option-radio:checked) {
  padding: calc(1rem - 2px);
  padding-inline-end: calc(2rem - 2px);
}

.field-option:hover,
.subfield-option:hover {
  padding: calc(var(--option-padding) - 1px);
  border: 2px solid #232429;
}

.subfield-option:hover {
  padding: calc(1rem - 1px);
  padding-inline-end: calc(2rem - 1px);
}

.field-option:has(.field-option-radio.error),
.subfield-option:has(.field-option-radio.error) {
  border: 2px solid #dc2323;
}

.field-option:has(.field-option-radio.error) {
  padding: calc(var(--option-padding) - 1px);
}
.subfield-option:has(.field-option-radio.error) {
  padding: calc(var(--suboption-padding) - 1px);
}


/**
 * Add default focus styles to container.
 */
.field-option:has(.field-option-radio:focus),
.subfield-option:has(.field-option-radio:focus) {
  outline: var(--focus-outline, -webkit-focus-ring-color) !important;
  box-shadow: var(--focus-box-shadow) !important;
}

@media (min-width: 45rem) {
  .add-field-container,
  .group-field-options {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .subfield-option.subfield-option.subfield-option,
  .field-option {
    margin-inline-end: 1.25rem;
  }
}
@media (min-width: 75rem) {
  .add-field-container {
    grid-template-columns: repeat(3, auto);
  }
}

.subfield-option > .field-option-radio {
  margin-right: 5px;
}
