:root {
  --shadow-z1: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --shadow-z2: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#manage-fields-container {
  display: flex;
}

#manage-fields-table {
  width: 70%;
}

#manage-fields-add-field {
  width: 28%;
  margin-inline-start: 2%;
  padding-inline: 1rem;
  padding-block-end: 1rem;
  border: 1px solid var(--color-gray-200);
  box-shadow: var(--shadow-z1);
}

#manage-fields-add-field .field-option {
  display: flex;
  color: unset;
  /*width: 100%;*/
  margin-top: 0.75rem;
  padding: 0.75rem;
  border: 1px solid var(--color-gray-200);
  text-align: start;
  background: #fff;
  cursor: pointer;
  text-decoration: none;
  box-shadow: var(--shadow-z3);
}

#manage-fields-add-field .field-option:not(:focus) {
  box-shadow: 0 1px 2px rgb(0 0 0 / 25%);
}

#manage-fields-add-field .field-option:hover {
  background: #f5f4f4;
}

#manage-fields-add-field button:hover .field-option__thumb {
  border-color: #000;
}

#manage-fields-add-field .field-option__description {
  font-size: var(--font-size-xs);
}


.field-option__thumb {
  width: 3.1rem;
  min-width: 3.1rem;
  height: 3.1rem;
  border: 1px solid #c5c5c5;
}

.field-option__words {
  padding-inline-start: 0.5rem;
}

#manage-fields-table > table {
  margin-top: 0;
}
