{
  "name": "fixtures/profile-with-append",
  "extra": {
    "composer-scaffold": {
      "file-mapping": {
        "[web-root]/robots.txt": {
          "append": "assets/append-to-robots.txt"
        }
      }
    }
  }
}
