---
label: 'Modifying the permissions for a role'
related:
  - user.overview
  - user.new_role
  - core.security
---
{% set permissions_link_text %}{% trans %}Permissions{% endtrans %}{% endset %}
{% set permissions_link = render_var(help_route_link(permissions_link_text, 'user.admin_permissions')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Modify the permissions for an existing role.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to <em>People</em> &gt; <em>{{ permissions_link }}</em>.{% endtrans %}</li>
  <li>{% trans %}Review the permissions for the role, paying particular attention to the permissions marked with <em>Warning: Give to trusted roles only; this permission has security implications.</em> Uncheck permissions that this role should not have, in the row of the permission and the column of the role; check permissions that this role should have.{% endtrans %}</li>
  <li>{% trans %}Click <em>Save permissions</em>.{% endtrans %}</li>
</ol>
