/* $Id: search-rtl.css,v 1.3 2007/11/27 12:09:26 goba Exp $ */

.search-advanced .criterion {
  float: right;
  margin-right: 0;
  margin-left: 2em;
}
.search-advanced .action {
  float: right;
  clear: right;
}
