
/**
 * Image upload widget.
 */
.image-preview {
  float: left; /* LTR */
  padding: 0 10px 10px 0; /* LTR */
}
.image-widget-data {
  float: left; /* LTR */
}
.image-widget-data .text-field {
  width: auto;
}
