#locale-translation-filter-form .form-item-language,
#locale-translation-filter-form .form-item-translation,
#locale-translation-filter-form .form-item-group {
  float: right;
  padding-left: 1em;
  padding-right: 0;
}
#locale-translation-filter-form .form-actions {
  float: right;
  padding: 3.5ex 0 0 0;
}
