/**
 * @file
 * CSS for the Locale module for right-to-left languages.
 */

.locale-translate-filter-form .form-item-langcode,
.locale-translate-filter-form .form-item-translation,
.locale-translate-filter-form .form-item-customized {
  float: right;
  margin-left: 1em;
  margin-right: 0;
}
.locale-translate-filter-form .form-actions {
  float: right;
  padding: 3.5ex 0 0 0;
}
