{#
/**
 * @file
 * Default theme implementation for a single node in a printer-friendly outline.
 *
 * Available variables:
 * - node: Fully loaded node.
 * - depth: Depth of the current node inside the outline.
 * - title: Node title.
 * - content: Node content.
 * - children: All the child nodes recursively rendered through this file.
 *
 * @see template_preprocess_book_node_export_html()
 *
 * @ingroup themeable
 */
#}
<article>
  <h1>{{ title }}</h1>
  {{ content }}
  {{ children }}
</article>
