{#
/**
 * @file
 * Default theme implementation for rendering book outlines within a block.
 *
 * This template is used only when the block is configured to "show block on all
 * pages", which presents multiple independent books on all pages.
 *
 * Available variables:
 * - book_menus: Book outlines.
 *   - book_id: The parent book ID.
 *   - menu: The top-level book links.
 *
 * @see template_preprocess_book_all_books_block()
 *
 * @ingroup themeable
 */
#}
{% for book_id, menu in book_menus %}
  <nav id="book-block-menu-{{ book_id }}" class="book-block-menu">
    {{ menu }}
  </nav>
{% endfor %}
