{#
/**
 * @file
 * Default theme implementation for basic administrative info about a View.
 *
 * Available variables:
 * - title: View title.
 * - displays: List of displays.
 *
 * @see template_preprocess_views_ui_view_info()
 *
 * @ingroup themeable
 */
#}
<h3 class="views-ui-view-title views-table-filter-text-source">{{ title }}</h3>
<div class="views-ui-view-displays">{{ displays }}</div>
