{#
/**
 * @file
 * Default theme implementation for Views UI display tab settings.
 *
 * Template for each row inside the "boxes" on the display query edit screen.
 *
 * Available variables:
 * - attributes: HTML attributes such as class for the container.
 * - description: The description or label for this setting.
 * - settings_links: A list of links for this setting.
 *
 * @see template_preprocess_views_ui_display_tab_setting()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% if description -%}
    <span class="label">{{ description }}</span>
  {%- endif %}
  {% if settings_links %}
    {{ settings_links|join('<span class="label">&nbsp;|&nbsp;</span>') }}
  {% endif %}
</div>
