/* ---------- Admin-specific Theming ---------- */
.path-admin #content img {
  margin-right: 15px; /* LTR */
}
[dir="rtl"] .path-admin #content img {
  margin-left: 15px;
  margin-right: 0;
}
.path-admin #content .simpletest-image img {
  margin: 0;
}
.path-admin #admin-dblog img {
  margin: 0 5px;
}

/* Block demo mode */
.demo-block {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}
#featured .demo-block {
  font-size: 0.55em;
}
#header .demo-block {
  width: 500px;
}

/* Configuration. */
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px; /* LTR */
}
[dir="rtl"] div.admin-panel .description {
  margin-left: 0;
  margin-right: 7px;
}
