#header .contextual .trigger,
.site-footer .contextual .trigger {
  border: none;
}
.contextual-region .contextual .contextual-links a {
  font-size: 0.923em;
  text-shadow: 0 0 0 !important;
}
.contextual-links {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
