/**
 * @file
 * Contextual links styles for Bartik.
 */

#header .contextual .trigger,
.site-footer .contextual .trigger {
  border: none;
}
.contextual-region .contextual .contextual-links a {
  border-bottom: none;
  font-size: 0.923em;
  text-shadow: 0 0 0;
}
.contextual-links {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
