/* ----------------- Featured Bottom ----------------- */

#featured-bottom-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}
#featured-bottom h2 {
  color: #000;
  font-size: 1.4em;
  margin-bottom: 0.6em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1;
}
#featured-bottom .block {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3;
}
#featured-bottom .block:last-child {
  border-bottom: none;
}
#featured-bottom .block ul li,
#featured-bottom .block ol li {
  list-style: none;
}
#featured-bottom .block ul,
#featured-bottom .block ol {
  padding-left: 0;
}
#featured-bottom #block-user-login .form-text {
  width: 185px;
}
#featured-bottom #block-user-online p {
  margin-bottom: 0;
}
#featured-bottom #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0;
}
#featured-bottom-third #block-node-syndicate {
  text-align: right;
}
#featured-bottom #block-search-form .form-type-search input {
  width: 185px;
}
#featured-bottom-second #block-system-powered-by {
  text-align: center;
}
#featured-bottom-third #block-system-powered-by {
  text-align: right;
}
