/* ------------------ Footer ------------------ */

#footer-wrapper .block .content {
  color: #c0c0c0;
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.857em;
}
#footer-wrapper .block .content a {
  color: #fcfcfc;
  color: rgba(255, 255, 255, 0.8);
}
#footer-wrapper .block .content a:hover,
#footer-wrapper .block .content a:focus {
  color: #fefefe;
  color: rgba(255, 255, 255, 0.95);
}
#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none;
}
#footer .block {
  margin: 0.5em 0;
}
#footer .block .content {
  padding: 0.5em 0;
  margin-top: 0;
}
#footer .block > h2 {
  /* @extend .visually-hidden */
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}
#footer .block h2 {
  margin: 0;
}
#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
#footer-columns .content {
  margin-top: 0;
}
#footer-columns p {
  margin-top: 1em;
}
#footer-columns .content ul {
  list-style: none;
  padding-left: 0; /* LTR */
  margin-left: 0; /* LTR */
}
[dir="rtl"] #footer-columns .content ul {
  padding-right: 0;
  margin-right: 0;
}
#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px; /* LTR */
  text-indent: -15px;
}
[dir="rtl"] #footer-columns .content li a {
  padding: 0.8em 20px 0.8em 2px;
}
#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
#footer {
  letter-spacing: 0.2px;
  margin-top: 30px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer .region {
  margin-top: 20px;
}
#footer .block {
  clear: both;
}
#footer .menu ,
#footer .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .menu li a {
  float: left; /* LTR */
  padding: 0 12px;
  display: block;
  border-right: 1px solid #555; /* LTR */
  border-color: rgba(255, 255, 255, 0.15);
}
[dir="rtl"] #footer .menu li a {
  float: right;
  border-left: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  border-right: none;
}
#footer .menu li:first-child a {
  padding-left: 0; /* LTR */
}
[dir="rtl"] #footer .menu li:first-child a {
  padding-right: 0;
  padding-left: 12px;
}
#footer .menu li:last-child a {
  padding-right: 0; /* LTR */
  border-right: none; /* LTR */
}
[dir="rtl"] #footer .menu li:last-child a {
  padding-left: 0;
  border-left: none;
}
#footer-wrapper tr.odd {
  background-color: transparent;
}
#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}
