{#
/**
 * @file
 * Default theme implementation for feed item for display in the block.
 *
 * Available variables:
 * - url: URL to the feed item.
 * - title: Title of the feed item.
 *
 * @see template_preprocess_aggregator_block_item()
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}">{{ title }}</a>
