
/**
 * @file
 * Right-to-Left administrative styling for the Filter module.
 */

/**
 * Filter information under field.
 */
.filter-help {
  float: left;
}
.filter-help a {
  background-position: left center;
  padding: 0 0 0 20px;
}

/**
 * Improve filter tips position.
 */
.tips {
  padding-right: 0;
}
