---
label: 'Creating a content type'
related:
  - node.overview
  - core.content_structure
  - field_ui.add_field
  - field_ui.manage_display
  - field_ui.manage_form
---
{% set content_permissions_link_text %}
  {% trans %}Administer content types{% endtrans %}
{% endset %}
{% set content_permissions_link = render_var(help_route_link(content_permissions_link_text, 'user.admin_permissions.module', {'modules': 'node'})) %}
{% set content_types_link_text %}
  {% trans %}Content types{% endtrans %}
{% endset %}
{% set content_types_link = render_var(help_route_link(content_types_link_text, 'entity.node_type.collection')) %}
{% set content_overview_topic = render_var(help_topic_link('node.overview')) %}
<h2>{% trans %}Goal{% endtrans %}</h2>
<p>{% trans %}Create a new content type. See {{ content_overview_topic }} for more about content types.{% endtrans %}</p>
<h2>{% trans %}Who can create a content type?{% endtrans %}</h2>
<p>{% trans %}Users with the <em>{{ content_permissions_link }}</em> permission (typically administrators) can create new content types.{% endtrans %}</p>
<h2>{% trans %}Steps{% endtrans %}</h2>
<ol>
  <li>{% trans %}In the <em>Manage</em> administrative menu, navigate to <em>Structure</em> &gt; <em>{{ content_types_link }}</em>.{% endtrans %}</li>
  <li>{% trans %}Click <em>Add content type.</em>{% endtrans %}</li>
  <li>{% trans %}In the <em>Name</em> field, enter a name for the content type, which is how it will be listed in the administrative interface.{% endtrans %}</li>
  <li>{% trans %}Optionally, enter a <em>Description</em> for the content type. You may also want to adjust some of the settings in the vertical tabs section of the edit page.{% endtrans %}</li>
  <li>{% trans %}Click <em>Save and manage fields</em>. Your content type will be created, and assuming you have the core Field UI module installed, you will be taken to the <em>Manage fields</em> page for the content type. (If you do not have the core Field UI module installed, the button will say <em>Save</em> instead.){% endtrans %}</li>
  <li>{% trans %}If you have the core Field UI module installed, follow the steps in the related topics to add fields to the new content type, set up the editing form, and configure the display.{% endtrans %}</li>
</ol>
<h2>{% trans %}Additional resources{% endtrans %}</h2>
<ul>
  <li><a href="https://www.drupal.org/docs/user_guide/en/structure-content-type.html">{% trans %}Adding a Content Type (Drupal User Guide){% endtrans %}</a></li>
  <li><a href="https://www.drupal.org/docs/user_guide/en/content-structure-chapter.html">{% trans %}Setting Up Content Structure (Drupal User Guide){% endtrans %}</a></li>
</ul>
